In [907]:
import pandas as pd 


df_1line = pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_수도권1호선_역위치_20231106.csv',encoding='cp949')
df_2line = pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_수도권2호선_역위치_20230430.csv',encoding='cp949')
df_3line = pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_수도권3호선_역위치_20231106.csv',encoding='cp949')
df_4line = pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_수도권4호선_역위치_20231106.csv',encoding='cp949')
df_5line = pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_수도권5호선_역위치_20231010.csv',encoding='cp949')
df_6line = pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_수도권6호선_역위치_20231010.csv',encoding='cp949')
df_7line = pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_수도권7호선_역위치_20231010.csv',encoding='cp949')
df_8line = pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_수도권8호선_역위치_20231106.csv',encoding='cp949')
df_9line = pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_수도권9호선_역위치_20231106.csv',encoding='utf-8')

dfs = [df_1line, df_2line,df_3line,df_4line,df_5line,df_6line,df_7line,df_8line,df_9line]

In [908]:
# (1호선) 온수/금천구청~도봉산
# (3호선) 지축~오금
# (5호선) 방화~강일/마천
# (7호선) 온수~장암
# (9호선) 전구간
# (신림선) 전구간
# (경의중앙선) 수색~양원/서울역
# (수인분당선) 청량리~복정
# (2호선) 전구간
# (4호선) 남태령~당고개
# (6호선) 전구간
# (8호선) 전구간
# (우이신설선) 전구간
# (공항철도) 김포공항~서울역
# (경춘선) 청량리~신내

In [909]:

for idx, df in enumerate(dfs):
    print(f"DataFrame {idx+1}:")
    # df.info()
    print(len(df))

DataFrame 1:
99
DataFrame 2:
50
DataFrame 3:
44
DataFrame 4:
48
DataFrame 5:
56
DataFrame 6:
39
DataFrame 7:
53
DataFrame 8:
18
DataFrame 9:
34

In [910]:
df_1line.sort_values(by='위도', ascending=True)

   철도운영기관명   선명        역명          경도         위도
87     코레일  1호선  신창(순천향대)  126.950129  36.769213
85     코레일  1호선        배방  127.052751  36.777541
86     코레일  1호선      온양온천  127.003707  36.780419
88     코레일  1호선        탕정  127.080446  36.788272
84     코레일  1호선        아산  127.105049  36.792195
..     ...  ...       ...         ...        ...
17     코레일  1호선     동두천중앙  127.056528  37.901818
15     코레일  1호선       동두천  127.054825  37.927569
1      코레일  1호선        도봉         NaN        NaN
16     코레일  1호선        보산         NaN        NaN
52     코레일  1호선       광운대         NaN        NaN

[99 rows x 5 columns]

In [911]:
금천구청_latitude= df_1line[df_1line['역명'] == '금천구청']['위도'].values[0]
도봉산_latitude=df_1line[df_1line['역명'] == '도봉산']['위도'].values[0]

In [912]:
온수_longitude = df_1line[df_1line['역명'] == '온수']['경도'].values[0]
온수_longitude

126.823399

In [913]:
df_series1 = df_1line[(도봉산_latitude >= df_1line['위도']) & (df_1line['위도'] >= 금천구청_latitude)]
df_series1.sort_values(by='위도', ascending=True)

   철도운영기관명   선명            역명          경도         위도
58     코레일  1호선          금천구청  126.894344  37.455760
50     코레일  1호선            간석  126.693408  37.464689
43     코레일  1호선            주안  126.680702  37.465041
57     코레일  1호선            독산  126.889508  37.465994
44     코레일  1호선            도화  126.668460  37.466154
45     코레일  1호선           제물포  126.657165  37.466809
46     코레일  1호선            도원  126.642824  37.468604
42     코레일  1호선            동암  126.703016  37.470835
47     코레일  1호선           동인천  126.632598  37.475414
48     코레일  1호선            인천  126.616936  37.476364
56     코레일  1호선       가산디지털단지  126.882628  37.481568
37     코레일  1호선            소사  126.795654  37.482755
41     코레일  1호선            백운  126.707179  37.483301
38     코레일  1호선            부천  126.782779  37.484066
10     코레일  1호선            역곡  126.811622  37.485140
51     코레일  1호선            중동  126.764474  37.486664
11     코레일  1호선            송내  126.753045  37.487626
40     코레일  1호선            부개  126.740549  37.488479
12     코레일  1호선            부평  126.724584  37.489457
9      코레일  1호선            온수  126.823399  37.492267
36     코레일  1호선           오류동  126.844551  37.494400
35     코레일  1호선            개봉  126.858504  37.494698
8      코레일  1호선            구일  126.869599  37.496273
55     코레일  1호선            구로  126.881818  37.502211
34     코레일  1호선           신도림  126.891513  37.508983
5      코레일  1호선            대방  126.926407  37.513392
32     코레일  1호선           노량진  126.941671  37.514072
33     코레일  1호선           영등포  126.907411  37.515756
6      코레일  1호선            신길  126.917743  37.517018
31     코레일  1호선            용산  126.964775  37.529890
30     코레일  1호선            남영  126.971171  37.540597
89  서울교통공사  1호선           서울역  126.972533  37.553150
90  서울교통공사  1호선            시청  126.975407  37.563590
94  서울교통공사  1호선           동대문  127.007890  37.565145
14     코레일  1호선           소요산  127.033900  37.565300
91  서울교통공사  1호선            종각  126.983116  37.570203
92  서울교통공사  1호선          종로3가  126.992095  37.570429
93  서울교통공사  1호선          종로5가  127.001900  37.570971
98  서울교통공사  1호선           동묘앞  127.016459  37.573265
95  서울교통공사  1호선           신설동  127.024710  37.576117
96  서울교통공사  1호선           제기동  127.034902  37.578116
97  서울교통공사  1호선  청량리(서울시립대입구)  127.045063  37.580148
29     코레일  1호선            회기  127.057936  37.589802
4      코레일  1호선           외대앞  127.063572  37.596157
28     코레일  1호선           신이문  127.067556  37.602745
27     코레일  1호선            석계  127.065594  37.615206
3      코레일  1호선            월계  127.058835  37.633114
26     코레일  1호선            녹천  127.051406  37.644599
2      코레일  1호선            창동  127.047663  37.653181
25     코레일  1호선            방학  127.044560  37.667960
24     코레일  1호선           도봉산  127.046347  37.689603

In [914]:
df_series1= df_series1[df_series1['경도']>= 온수_longitude ]
df_series1

   철도운영기관명   선명            역명          경도         위도
2      코레일  1호선            창동  127.047663  37.653181
3      코레일  1호선            월계  127.058835  37.633114
4      코레일  1호선           외대앞  127.063572  37.596157
5      코레일  1호선            대방  126.926407  37.513392
6      코레일  1호선            신길  126.917743  37.517018
8      코레일  1호선            구일  126.869599  37.496273
9      코레일  1호선            온수  126.823399  37.492267
14     코레일  1호선           소요산  127.033900  37.565300
24     코레일  1호선           도봉산  127.046347  37.689603
25     코레일  1호선            방학  127.044560  37.667960
26     코레일  1호선            녹천  127.051406  37.644599
27     코레일  1호선            석계  127.065594  37.615206
28     코레일  1호선           신이문  127.067556  37.602745
29     코레일  1호선            회기  127.057936  37.589802
30     코레일  1호선            남영  126.971171  37.540597
31     코레일  1호선            용산  126.964775  37.529890
32     코레일  1호선           노량진  126.941671  37.514072
33     코레일  1호선           영등포  126.907411  37.515756
34     코레일  1호선           신도림  126.891513  37.508983
35     코레일  1호선            개봉  126.858504  37.494698
36     코레일  1호선           오류동  126.844551  37.494400
55     코레일  1호선            구로  126.881818  37.502211
56     코레일  1호선       가산디지털단지  126.882628  37.481568
57     코레일  1호선            독산  126.889508  37.465994
58     코레일  1호선          금천구청  126.894344  37.455760
89  서울교통공사  1호선           서울역  126.972533  37.553150
90  서울교통공사  1호선            시청  126.975407  37.563590
91  서울교통공사  1호선            종각  126.983116  37.570203
92  서울교통공사  1호선          종로3가  126.992095  37.570429
93  서울교통공사  1호선          종로5가  127.001900  37.570971
94  서울교통공사  1호선           동대문  127.007890  37.565145
95  서울교통공사  1호선           신설동  127.024710  37.576117
96  서울교통공사  1호선           제기동  127.034902  37.578116
97  서울교통공사  1호선  청량리(서울시립대입구)  127.045063  37.580148
98  서울교통공사  1호선           동묘앞  127.016459  37.573265

In [915]:

df_1line_gihu = df_series1[['역명', '선명', '위도', '경도']]
df_1line_gihu = df_1line_gihu.rename(columns={'선명': '호선'})

df_1line_gihu

              역명   호선         위도          경도
2             창동  1호선  37.653181  127.047663
3             월계  1호선  37.633114  127.058835
4            외대앞  1호선  37.596157  127.063572
5             대방  1호선  37.513392  126.926407
6             신길  1호선  37.517018  126.917743
8             구일  1호선  37.496273  126.869599
9             온수  1호선  37.492267  126.823399
14           소요산  1호선  37.565300  127.033900
24           도봉산  1호선  37.689603  127.046347
25            방학  1호선  37.667960  127.044560
26            녹천  1호선  37.644599  127.051406
27            석계  1호선  37.615206  127.065594
28           신이문  1호선  37.602745  127.067556
29            회기  1호선  37.589802  127.057936
30            남영  1호선  37.540597  126.971171
31            용산  1호선  37.529890  126.964775
32           노량진  1호선  37.514072  126.941671
33           영등포  1호선  37.515756  126.907411
34           신도림  1호선  37.508983  126.891513
35            개봉  1호선  37.494698  126.858504
36           오류동  1호선  37.494400  126.844551
55            구로  1호선  37.502211  126.881818
56       가산디지털단지  1호선  37.481568  126.882628
57            독산  1호선  37.465994  126.889508
58          금천구청  1호선  37.455760  126.894344
89           서울역  1호선  37.553150  126.972533
90            시청  1호선  37.563590  126.975407
91            종각  1호선  37.570203  126.983116
92          종로3가  1호선  37.570429  126.992095
93          종로5가  1호선  37.570971  127.001900
94           동대문  1호선  37.565145  127.007890
95           신설동  1호선  37.576117  127.024710
96           제기동  1호선  37.578116  127.034902
97  청량리(서울시립대입구)  1호선  37.580148  127.045063
98           동묘앞  1호선  37.573265  127.016459

In [916]:
df_2line_gihu = df_2line[['역명', '노선', '위도', '경도']]
df_2line_gihu = df_2line_gihu.rename(columns={'노선': '호선'})

In [917]:
지축역_latitude= df_3line[df_3line['역명'] == '지축']['위도'].values[0]
오금역_longitude = df_3line[df_3line['역명'] == '오금']['경도'].values[0]

df_series3 = df_3line[df_3line['위도']<=지축역_latitude]
df_series3.sort_values(by='위도',ascending=False)

df_3line_gihu = df_series3
df_3line_gihu

   철도운영기관명   선명            역명          경도         위도
1      코레일  3호선            대곡  126.811025  37.631629
2      코레일  3호선            화정  126.832503  37.637837
7      코레일  3호선            백석  126.788109  37.642973
10  서울교통공사  3호선            지축  126.912551  37.648281
11  서울교통공사  3호선           구파발  126.918827  37.636612
12  서울교통공사  3호선           연신내  126.920859  37.618855
13  서울교통공사  3호선            불광  126.929843  37.610554
14  서울교통공사  3호선            녹번  126.935758  37.600882
15  서울교통공사  3호선            홍제  126.944092  37.588851
16  서울교통공사  3호선           무악재  126.950131  37.582658
17  서울교통공사  3호선           독립문  126.957902  37.574534
18  서울교통공사  3호선   경복궁(정부서울청사)  126.973576  37.575844
19  서울교통공사  3호선            안국  126.985470  37.576562
20  서울교통공사  3호선          종로3가  126.991237  37.571537
21  서울교통공사  3호선         을지로3가  126.992616  37.566299
22  서울교통공사  3호선           충무로  126.995473  37.561302
23  서울교통공사  3호선          동대입구  127.005273  37.558160
24  서울교통공사  3호선            약수  127.010628  37.554674
25  서울교통공사  3호선            금호  127.015785  37.548269
26  서울교통공사  3호선            옥수  127.017303  37.541653
27  서울교통공사  3호선           압구정  127.028502  37.526169
28  서울교통공사  3호선            신사  127.020247  37.516438
29  서울교통공사  3호선            잠원  127.011613  37.512989
30  서울교통공사  3호선         고속터미널  127.004916  37.504953
31  서울교통공사  3호선    교대(법원·검찰청)  127.013796  37.493060
32  서울교통공사  3호선  남부터미널(예술의전당)  127.016289  37.484940
33  서울교통공사  3호선      양재(서초구청)  127.035130  37.484660
34  서울교통공사  3호선            매봉  127.046907  37.487114
35  서울교통공사  3호선            도곡  127.055694  37.491129
36  서울교통공사  3호선            대치  127.063449  37.494601
37  서울교통공사  3호선           학여울  127.070541  37.496757
38  서울교통공사  3호선            대청  127.079526  37.493607
39  서울교통공사  3호선            일원  127.084160  37.483890
40  서울교통공사  3호선            수서  127.101324  37.487507
41  서울교통공사  3호선          가락시장  127.118101  37.492368
42  서울교통공사  3호선          경찰병원  127.124198  37.495754
43  서울교통공사  3호선            오금  127.128344  37.502288

In [918]:
df_3line_gihu = df_3line_gihu[df_3line_gihu['철도운영기관명']!='코레일']
df_3line_gihu

   철도운영기관명   선명            역명          경도         위도
10  서울교통공사  3호선            지축  126.912551  37.648281
11  서울교통공사  3호선           구파발  126.918827  37.636612
12  서울교통공사  3호선           연신내  126.920859  37.618855
13  서울교통공사  3호선            불광  126.929843  37.610554
14  서울교통공사  3호선            녹번  126.935758  37.600882
15  서울교통공사  3호선            홍제  126.944092  37.588851
16  서울교통공사  3호선           무악재  126.950131  37.582658
17  서울교통공사  3호선           독립문  126.957902  37.574534
18  서울교통공사  3호선   경복궁(정부서울청사)  126.973576  37.575844
19  서울교통공사  3호선            안국  126.985470  37.576562
20  서울교통공사  3호선          종로3가  126.991237  37.571537
21  서울교통공사  3호선         을지로3가  126.992616  37.566299
22  서울교통공사  3호선           충무로  126.995473  37.561302
23  서울교통공사  3호선          동대입구  127.005273  37.558160
24  서울교통공사  3호선            약수  127.010628  37.554674
25  서울교통공사  3호선            금호  127.015785  37.548269
26  서울교통공사  3호선            옥수  127.017303  37.541653
27  서울교통공사  3호선           압구정  127.028502  37.526169
28  서울교통공사  3호선            신사  127.020247  37.516438
29  서울교통공사  3호선            잠원  127.011613  37.512989
30  서울교통공사  3호선         고속터미널  127.004916  37.504953
31  서울교통공사  3호선    교대(법원·검찰청)  127.013796  37.493060
32  서울교통공사  3호선  남부터미널(예술의전당)  127.016289  37.484940
33  서울교통공사  3호선      양재(서초구청)  127.035130  37.484660
34  서울교통공사  3호선            매봉  127.046907  37.487114
35  서울교통공사  3호선            도곡  127.055694  37.491129
36  서울교통공사  3호선            대치  127.063449  37.494601
37  서울교통공사  3호선           학여울  127.070541  37.496757
38  서울교통공사  3호선            대청  127.079526  37.493607
39  서울교통공사  3호선            일원  127.084160  37.483890
40  서울교통공사  3호선            수서  127.101324  37.487507
41  서울교통공사  3호선          가락시장  127.118101  37.492368
42  서울교통공사  3호선          경찰병원  127.124198  37.495754
43  서울교통공사  3호선            오금  127.128344  37.502288

In [919]:
df_3line_gihu = df_3line_gihu[['역명', '선명', '위도', '경도']]
df_3line_gihu = df_3line_gihu.rename(columns={'선명': '호선'})

df_3line_gihu

              역명   호선         위도          경도
10            지축  3호선  37.648281  126.912551
11           구파발  3호선  37.636612  126.918827
12           연신내  3호선  37.618855  126.920859
13            불광  3호선  37.610554  126.929843
14            녹번  3호선  37.600882  126.935758
15            홍제  3호선  37.588851  126.944092
16           무악재  3호선  37.582658  126.950131
17           독립문  3호선  37.574534  126.957902
18   경복궁(정부서울청사)  3호선  37.575844  126.973576
19            안국  3호선  37.576562  126.985470
20          종로3가  3호선  37.571537  126.991237
21         을지로3가  3호선  37.566299  126.992616
22           충무로  3호선  37.561302  126.995473
23          동대입구  3호선  37.558160  127.005273
24            약수  3호선  37.554674  127.010628
25            금호  3호선  37.548269  127.015785
26            옥수  3호선  37.541653  127.017303
27           압구정  3호선  37.526169  127.028502
28            신사  3호선  37.516438  127.020247
29            잠원  3호선  37.512989  127.011613
30         고속터미널  3호선  37.504953  127.004916
31    교대(법원·검찰청)  3호선  37.493060  127.013796
32  남부터미널(예술의전당)  3호선  37.484940  127.016289
33      양재(서초구청)  3호선  37.484660  127.035130
34            매봉  3호선  37.487114  127.046907
35            도곡  3호선  37.491129  127.055694
36            대치  3호선  37.494601  127.063449
37           학여울  3호선  37.496757  127.070541
38            대청  3호선  37.493607  127.079526
39            일원  3호선  37.483890  127.084160
40            수서  3호선  37.487507  127.101324
41          가락시장  3호선  37.492368  127.118101
42          경찰병원  3호선  37.495754  127.124198
43            오금  3호선  37.502288  127.128344

In [920]:
당고개역_latitude = df_4line[df_4line['역명']=='당고개']['위도'].values[0]
남태령역_latitude = df_4line[df_4line['역명']=='남태령']['위도'].values[0]

df_series4 = df_4line[(당고개역_latitude >= df_4line['위도']) & (df_4line['위도'] >= 남태령역_latitude)]
df_series4.sort_values(by='위도',inplace=True)

/tmp/ipykernel_8998/3454576451.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_series4.sort_values(by='위도',inplace=True)

In [921]:
df_4line_gihu = df_series4[['역명', '선명', '위도', '경도']]
df_4line_gihu = df_4line_gihu.rename(columns={'선명': '호선'})

In [922]:
#방화역보다 김포공항이 경도값이 더 작음 ~강일이 제일 큼

김포공항_longitude = df_5line[df_5line['역명']=='김포공항']['경도'].values[0]
강일_longitude = df_5line[df_5line['역명']=='강일']['경도'].values[0]

df_series5 = df_5line[(김포공항_longitude <= df_5line['경도']) & (df_5line['경도'] <= 강일_longitude)]
df_series5.sort_values(by='경도')

   철도운영기관명   선명             역명          경도         위도
2   서울교통공사  5호선           김포공항  126.801273  37.562170
1   서울교통공사  5호선            개화산  126.806838  37.572458
3   서울교통공사  5호선             송정  126.812052  37.561411
0   서울교통공사  5호선             방화  126.812822  37.577669
4   서울교통공사  5호선             마곡  126.826930  37.562182
5   서울교통공사  5호선             발산  126.826930  37.562182
6   서울교통공사  5호선            우장산  126.836330  37.548864
7   서울교통공사  5호선             화곡  126.840436  37.541585
8   서울교통공사  5호선            까치산  126.846706  37.531810
9   서울교통공사  5호선        신정(은행정)  126.856176  37.525001
10  서울교통공사  5호선             목동  126.864296  37.526088
11  서울교통공사  5호선    오목교(목동운동장앞)  126.875049  37.524557
12  서울교통공사  5호선             양평  126.886177  37.525614
13  서울교통공사  5호선          영등포구청  126.895022  37.524209
14  서울교통공사  5호선          영등포시장  126.905143  37.522760
15  서울교통공사  5호선             신길  126.914886  37.517630
16  서울교통공사  5호선            여의도  126.924318  37.521578
17  서울교통공사  5호선           여의나루  126.932807  37.527145
18  서울교통공사  5호선             마포  126.946043  37.539718
19  서울교통공사  5호선             공덕  126.951058  37.544005
20  서울교통공사  5호선            애오개  126.956733  37.553592
21  서울교통공사  5호선     충정로(경기대입구)  126.962783  37.560061
22  서울교통공사  5호선            서대문  126.966639  37.565812
23  서울교통공사  5호선    광화문(세종문화회관)  126.976568  37.570545
24  서울교통공사  5호선     종로3가(탑골공원)  126.990447  37.572546
25  서울교통공사  5호선          을지로4가  126.998127  37.566580
26  서울교통공사  5호선      동대문역사문화공원  127.005330  37.564682
27  서울교통공사  5호선             청구  127.013790  37.560237
28  서울교통공사  5호선            신금호  127.020403  37.554504
29  서울교통공사  5호선             행당  127.029482  37.557297
30  서울교통공사  5호선            왕십리  127.037264  37.561970
31  서울교통공사  5호선             마장  127.042921  37.566066
32  서울교통공사  5호선            답십리  127.052660  37.566833
33  서울교통공사  5호선            장한평  127.064601  37.561438
34  서울교통공사  5호선         군자(능동)  127.079559  37.557102
35  서울교통공사  5호선  아차산(어린이대공원후문)  127.089609  37.552005
36  서울교통공사  5호선       광나루(장신대)  127.103478  37.545301
37  서울교통공사  5호선       천호(풍납토성)  127.123539  37.538566
46  서울교통공사  5호선             방이  127.126054  37.508752
47  서울교통공사  5호선             오금  127.127701  37.502228
45  서울교통공사  5호선    올림픽공원(한국체대)  127.130957  37.516217
38  서울교통공사  5호선             강동  127.132490  37.535810
48  서울교통공사  5호선             개롱  127.134817  37.498097
44  서울교통공사  5호선            둔촌동  127.136219  37.527787
39  서울교통공사  5호선             길동  127.140085  37.538022
40  서울교통공사  5호선  굽은다리(강동구민회관앞)  127.142844  37.545442
49  서울교통공사  5호선             거여  127.143983  37.493208
41  서울교통공사  5호선             명일  127.144002  37.551317
50  서울교통공사  5호선             마천  127.152784  37.494972
42  서울교통공사  5호선             고덕  127.154214  37.555002
43  서울교통공사  5호선            상일동  127.166381  37.556714
51  서울교통공사  5호선             강일  127.176018  37.557521

In [923]:
df_5line_gihu = df_series5[['역명', '선명', '위도', '경도']]
df_5line_gihu = df_5line_gihu.rename(columns={'선명': '호선'})

In [970]:
df_6line_gihu = df_6line[['역명', '선명', '위도', '경도']]
df_6line_gihu = df_6line_gihu.rename(columns={'선명': '호선'})
df_6line_gihu

#아오.. 밀려서 쓴 정보를 올려놨네

                역명   호선         위도          경도
0               응암  6호선  37.598590  126.915583
1               역촌  6호선  37.606050  126.922764
2               불광  6호선  37.610919  126.929504
3              독바위  6호선  37.618413  126.933035
4              연신내  6호선  37.617293  127.091375
5               구산  6호선  37.618596  126.920519
6           새절(신사)  6호선  37.611223  126.917246
7         증산(명지대앞)  6호선  37.591148  126.913613
8         디지털미디어시티  6호선  37.583989  126.909785
9       월드컵경기장(성산)  6호선  37.577005  126.898643
10            마포구청  6호선  37.569439  126.899077
11              망원  6호선  37.563535  126.903326
12              합정  6호선  37.556031  126.910129
13              상수  6호선  37.549033  126.913546
14         광흥창(서강)  6호선  37.547704  126.922920
15        대흥(서강대앞)  6호선  37.547464  126.931971
16              공덕  6호선  37.547732  126.942214
17           효창공원앞  6호선  37.543592  126.951664
18             삼각지  6호선  37.539279  126.961348
19       녹사평(용산구청)  6호선  37.535563  126.973996
20             이태원  6호선  37.534690  126.986650
21             한강진  6호선  37.534485  126.994369
22            버티고개  6호선  37.539560  127.001729
23              약수  6호선  37.547933  127.006948
24              청구  6호선  37.554087  127.010237
25              신당  6호선  37.560221  127.013776
26             동묘앞  6호선  37.566174  127.016158
27              창신  6호선  37.572275  127.015666
28              보문  6호선  37.579772  127.015246
29       안암(고대병원앞)  6호선  37.585293  127.019377
30         고려대(종암)  6호선  37.586261  127.029030
31        월곡(동덕여대)  6호선  37.590340  127.036260
32  상월곡(한국과학기술연구원)  6호선  37.601920  127.041492
33             돌곶이  6호선  37.606392  127.048509
34              석계  6호선  37.610522  127.056419
35            태릉입구  6호선  37.614937  127.065922
36     화랑대(서울여대입구)  6호선  37.617319  127.074741
37      봉화산(서울의료원)  6호선  37.619875  127.084106
38              신내  6호선  37.612571  127.104326

In [925]:
장암_latitude = df_7line[df_7line['역명']=='장암']['위도'].values[0]
온수역_longitude = df_7line[df_7line['역명']=='온수(성공회대입구)']['경도'].values[0]

df_series7 = df_7line[(온수역_longitude <= df_7line['경도']) & (df_7line['위도'] <= 장암_latitude)]
df_series7

   철도운영기관명   선명           역명          경도         위도
0   서울교통공사  7호선           장암  127.053126  37.700150
1   서울교통공사  7호선          도봉산  127.046548  37.689131
2   서울교통공사  7호선          수락산  127.055314  37.677804
3   서울교통공사  7호선           마들  127.057701  37.664985
4   서울교통공사  7호선           노원  127.060555  37.654478
5   서울교통공사  7호선           중계  127.064084  37.645052
6   서울교통공사  7호선           하계  127.067999  37.636363
7   서울교통공사  7호선  공릉(서울과학기술대)  127.072969  37.625642
8   서울교통공사  7호선         태릉입구  127.074741  37.617319
9   서울교통공사  7호선           먹골  127.077719  37.610638
10  서울교통공사  7호선           중화  127.079254  37.602604
11  서울교통공사  7호선  상봉(시외버스터미널)  127.085708  37.595673
12  서울교통공사  7호선           면목  127.087503  37.588671
13  서울교통공사  7호선          사가정  127.088502  37.580912
14  서울교통공사  7호선          용마산  127.086802  37.573752
15  서울교통공사  7호선           중곡  127.084291  37.565877
16  서울교통공사  7호선       군자(능동)  127.079484  37.557151
17  서울교통공사  7호선  어린이대공원(세종대)  127.074650  37.547962
18  서울교통공사  7호선         건대입구  127.071103  37.540882
19  서울교통공사  7호선        뚝섬유원지  127.066714  37.531558
20  서울교통공사  7호선           청담  127.051851  37.519097
21  서울교통공사  7호선         강남구청  127.041220  37.517185
22  서울교통공사  7호선           학동  127.031738  37.514262
23  서울교통공사  7호선           논현  127.021385  37.511108
24  서울교통공사  7호선           반포  127.011717  37.508171
25  서울교통공사  7호선        고속터미널  127.005055  37.503387
26  서울교통공사  7호선           내방  126.993541  37.487640
27  서울교통공사  7호선    총신대입구(이수)  126.981766  37.485258
28  서울교통공사  7호선           남성  126.971108  37.484688
29  서울교통공사  7호선   숭실대입구(살피재)  126.953649  37.496258
30  서울교통공사  7호선           상도  126.947949  37.502790
31  서울교통공사  7호선         장승배기  126.939025  37.504845
32  서울교통공사  7호선       신대방삼거리  126.928218  37.499717
33  서울교통공사  7호선          보라매  126.920112  37.499916
34  서울교통공사  7호선           신풍  126.909806  37.500107
35  서울교통공사  7호선     대림(구로구청)  126.896997  37.492984
36  서울교통공사  7호선          남구로  126.887372  37.486181
37  서울교통공사  7호선      가산디지털단지  126.882704  37.480376
38  서울교통공사  7호선           철산  126.868217  37.476160
39  서울교통공사  7호선        광명사거리  126.854854  37.479270
40  서울교통공사  7호선           천왕  126.838684  37.486699
41  서울교통공사  7호선   온수(성공회대입구)  126.823294  37.492059

In [926]:
df_7line_gihu = df_series7[['역명', '선명', '위도', '경도']]
df_7line_gihu = df_7line_gihu.rename(columns={'선명': '호선'})

In [927]:
df_8line_gihu = df_8line[['역명', '선명', '위도', '경도']]
df_8line_gihu = df_8line_gihu.rename(columns={'선명': '호선'})

In [928]:
df_9line_gihu = df_9line[['역명', '선명', '위도', '경도']]
df_9line_gihu = df_9line_gihu.rename(columns={'선명': '호선'})

df_9line_gihu

           역명   호선         위도          경도
0          개화  9호선  37.578608  126.798153
1        김포공항  9호선  37.562434  126.801058
2        공항시장  9호선  37.563726  126.810678
3         신방화  9호선  37.567532  126.816601
4        마곡나루  9호선  37.567336  126.829497
5        양천향교  9호선  37.568381  126.841333
6          가양  9호선  37.561391  126.854456
7          증미  9호선  37.557402  126.861939
8          등촌  9호선  37.550632  126.865689
9          염창  9호선  37.546936  126.874916
10        신목동  9호선  37.544277  126.883080
11        선유도  9호선  37.538020  126.893525
12         당산  9호선  37.534380  126.902281
13      국회의사당  9호선  37.528105  126.917874
14        여의도  9호선  37.521624  126.924191
15         샛강  9호선  37.517274  126.928422
16        노량진  9호선  37.514219  126.942454
17         노들  9호선  37.512887  126.953222
18  흑석(중앙대입구)  9호선  37.508770  126.963708
19         동작  9호선  37.502971  126.979306
20        구반포  9호선  37.501364  126.987332
21        신반포  9호선  37.503415  126.995925
22      고속터미널  9호선  37.504810  127.004943
23         사평  9호선  37.504206  127.015259
24        신논현  9호선  37.504598  127.025060
25         언주  9호선  37.507287  127.033868
26        선정릉  9호선  37.510980  127.043593
27       삼성중앙  9호선  37.513011  127.053282
28        봉은사  9호선  37.514219  127.060245
29        NaN  NaN        NaN         NaN
30        NaN  NaN        NaN         NaN
31        NaN  NaN        NaN         NaN
32        NaN  NaN        NaN         NaN
33        NaN  NaN        NaN         NaN

In [929]:
# AWS INSTANCE에서 데이터 가져오기

import mysql.connector

yespa_db = mysql.connector.connect(
    host = 'database-1.c3ieyo8m4v9o.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'eda_team',
    database = 'eda_project',
    password = '123456'
)

cur = yespa_db.cursor(buffered=True, dictionary=True)

cur.execute("SELECT * FROM seoul_metro_coor WHERE 호선 = '9호선';")
result = cur.fetchall()

for data in result:
    print(data)
    
yespa_db.close()

{'역명': '신논현', '호선': '9호선', '위도': 37.504598, '경도': 127.02506}
{'역명': '사평', '호선': '9호선', '위도': 37.504206, '경도': 127.015259}
{'역명': '고속터미널', '호선': '9호선', '위도': 37.50598, '경도': 127.004403}
{'역명': '신반포', '호선': '9호선', '위도': 37.503415, '경도': 126.995925}
{'역명': '구반포', '호선': '9호선', '위도': 37.501364, '경도': 126.987332}
{'역명': '동작', '호선': '9호선', '위도': 37.502878, '경도': 126.978153}
{'역명': '흑석', '호선': '9호선', '위도': 37.50877, '경도': 126.963708}
{'역명': '노들', '호선': '9호선', '위도': 37.512887, '경도': 126.953222}
{'역명': '노량진', '호선': '9호선', '위도': 37.513534, '경도': 126.941005}
{'역명': '샛강', '호선': '9호선', '위도': 37.517274, '경도': 126.928422}
{'역명': '여의도', '호선': '9호선', '위도': 37.52176, '경도': 126.92403}
{'역명': '국회의사당', '호선': '9호선', '위도': 37.528105, '경도': 126.917874}
{'역명': '당산', '호선': '9호선', '위도': 37.533406, '경도': 126.902809}
{'역명': '선유도', '호선': '9호선', '위도': 37.53802, '경도': 126.893525}
{'역명': '신목동', '호선': '9호선', '위도': 37.544277, '경도': 126.88308}
{'역명': '염창', '호선': '9호선', '위도': 37.546936, '경도': 126.874916}
{'역명': '등촌', '호선': '9호선', '위도': 37.550632, '경도': 126.865689}
{'역명': '증미', '호선': '9호선', '위도': 37.557402, '경도': 126.861939}
{'역명': '가양', '호선': '9호선', '위도': 37.561391, '경도': 126.854456}
{'역명': '양천향교', '호선': '9호선', '위도': 37.568381, '경도': 126.841333}
{'역명': '마곡나루', '호선': '9호선', '위도': 37.566778, '경도': 126.82731}
{'역명': '신방화', '호선': '9호선', '위도': 37.567532, '경도': 126.816601}
{'역명': '공항시장', '호선': '9호선', '위도': 37.563726, '경도': 126.810678}
{'역명': '김포공항', '호선': '9호선', '위도': 37.561916, '경도': 126.802152}
{'역명': '개화', '호선': '9호선', '위도': 37.578608, '경도': 126.798153}

In [930]:
df = pd.DataFrame(result)
df

       역명   호선         위도          경도
0     신논현  9호선  37.504598  127.025060
1      사평  9호선  37.504206  127.015259
2   고속터미널  9호선  37.505980  127.004403
3     신반포  9호선  37.503415  126.995925
4     구반포  9호선  37.501364  126.987332
5      동작  9호선  37.502878  126.978153
6      흑석  9호선  37.508770  126.963708
7      노들  9호선  37.512887  126.953222
8     노량진  9호선  37.513534  126.941005
9      샛강  9호선  37.517274  126.928422
10    여의도  9호선  37.521760  126.924030
11  국회의사당  9호선  37.528105  126.917874
12     당산  9호선  37.533406  126.902809
13    선유도  9호선  37.538020  126.893525
14    신목동  9호선  37.544277  126.883080
15     염창  9호선  37.546936  126.874916
16     등촌  9호선  37.550632  126.865689
17     증미  9호선  37.557402  126.861939
18     가양  9호선  37.561391  126.854456
19   양천향교  9호선  37.568381  126.841333
20   마곡나루  9호선  37.566778  126.827310
21    신방화  9호선  37.567532  126.816601
22   공항시장  9호선  37.563726  126.810678
23   김포공항  9호선  37.561916  126.802152
24     개화  9호선  37.578608  126.798153

In [931]:

yespa_db = mysql.connector.connect(
    host = 'database-1.c3ieyo8m4v9o.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'eda_team',
    database = 'eda_project',
    password = '123456'
)

cur = yespa_db.cursor(buffered=True, dictionary=True)

cur.execute("SELECT * FROM seoul_metro_coor WHERE 호선 LIKE '%9호선%';")
result = cur.fetchall()

for data in result:
    print(data)
    
yespa_db.close()

{'역명': '중앙보훈병원', '호선': '9호선(연장)', '위도': 37.529191, '경도': 127.148739}
{'역명': '둔촌오륜', '호선': '9호선(연장)', '위도': 37.519683, '경도': 127.137989}
{'역명': '올림픽공원', '호선': '9호선(연장)', '위도': 37.516269, '경도': 127.130288}
{'역명': '한성백제', '호선': '9호선(연장)', '위도': 37.516404, '경도': 127.116503}
{'역명': '송파나루', '호선': '9호선(연장)', '위도': 37.510372, '경도': 127.112216}
{'역명': '석촌', '호선': '9호선(연장)', '위도': 37.505208, '경도': 127.10704}
{'역명': '석촌고분', '호선': '9호선(연장)', '위도': 37.502558, '경도': 127.097033}
{'역명': '삼전', '호선': '9호선(연장)', '위도': 37.504738, '경도': 127.088025}
{'역명': '종합운동장', '호선': '9호선(연장)', '위도': 37.511426, '경도': 127.076275}
{'역명': '봉은사', '호선': '9호선(연장)', '위도': 37.514219, '경도': 127.060245}
{'역명': '삼성중앙', '호선': '9호선(연장)', '위도': 37.513011, '경도': 127.053282}
{'역명': '선정릉', '호선': '9호선(연장)', '위도': 37.510297, '경도': 127.043999}
{'역명': '언주', '호선': '9호선(연장)', '위도': 37.507287, '경도': 127.033868}
{'역명': '신논현', '호선': '9호선', '위도': 37.504598, '경도': 127.02506}
{'역명': '사평', '호선': '9호선', '위도': 37.504206, '경도': 127.015259}
{'역명': '고속터미널', '호선': '9호선', '위도': 37.50598, '경도': 127.004403}
{'역명': '신반포', '호선': '9호선', '위도': 37.503415, '경도': 126.995925}
{'역명': '구반포', '호선': '9호선', '위도': 37.501364, '경도': 126.987332}
{'역명': '동작', '호선': '9호선', '위도': 37.502878, '경도': 126.978153}
{'역명': '흑석', '호선': '9호선', '위도': 37.50877, '경도': 126.963708}
{'역명': '노들', '호선': '9호선', '위도': 37.512887, '경도': 126.953222}
{'역명': '노량진', '호선': '9호선', '위도': 37.513534, '경도': 126.941005}
{'역명': '샛강', '호선': '9호선', '위도': 37.517274, '경도': 126.928422}
{'역명': '여의도', '호선': '9호선', '위도': 37.52176, '경도': 126.92403}
{'역명': '국회의사당', '호선': '9호선', '위도': 37.528105, '경도': 126.917874}
{'역명': '당산', '호선': '9호선', '위도': 37.533406, '경도': 126.902809}
{'역명': '선유도', '호선': '9호선', '위도': 37.53802, '경도': 126.893525}
{'역명': '신목동', '호선': '9호선', '위도': 37.544277, '경도': 126.88308}
{'역명': '염창', '호선': '9호선', '위도': 37.546936, '경도': 126.874916}
{'역명': '등촌', '호선': '9호선', '위도': 37.550632, '경도': 126.865689}
{'역명': '증미', '호선': '9호선', '위도': 37.557402, '경도': 126.861939}
{'역명': '가양', '호선': '9호선', '위도': 37.561391, '경도': 126.854456}
{'역명': '양천향교', '호선': '9호선', '위도': 37.568381, '경도': 126.841333}
{'역명': '마곡나루', '호선': '9호선', '위도': 37.566778, '경도': 126.82731}
{'역명': '신방화', '호선': '9호선', '위도': 37.567532, '경도': 126.816601}
{'역명': '공항시장', '호선': '9호선', '위도': 37.563726, '경도': 126.810678}
{'역명': '김포공항', '호선': '9호선', '위도': 37.561916, '경도': 126.802152}
{'역명': '개화', '호선': '9호선', '위도': 37.578608, '경도': 126.798153}

In [932]:
df=pd.DataFrame(result)
df['호선'] = df['호선'].str.replace('9호선(연장)', '9호선')
df_9line_gihu=df.copy()
df_9line_gihu

        역명   호선         위도          경도
0   중앙보훈병원  9호선  37.529191  127.148739
1     둔촌오륜  9호선  37.519683  127.137989
2    올림픽공원  9호선  37.516269  127.130288
3     한성백제  9호선  37.516404  127.116503
4     송파나루  9호선  37.510372  127.112216
5       석촌  9호선  37.505208  127.107040
6     석촌고분  9호선  37.502558  127.097033
7       삼전  9호선  37.504738  127.088025
8    종합운동장  9호선  37.511426  127.076275
9      봉은사  9호선  37.514219  127.060245
10    삼성중앙  9호선  37.513011  127.053282
11     선정릉  9호선  37.510297  127.043999
12      언주  9호선  37.507287  127.033868
13     신논현  9호선  37.504598  127.025060
14      사평  9호선  37.504206  127.015259
15   고속터미널  9호선  37.505980  127.004403
16     신반포  9호선  37.503415  126.995925
17     구반포  9호선  37.501364  126.987332
18      동작  9호선  37.502878  126.978153
19      흑석  9호선  37.508770  126.963708
20      노들  9호선  37.512887  126.953222
21     노량진  9호선  37.513534  126.941005
22      샛강  9호선  37.517274  126.928422
23     여의도  9호선  37.521760  126.924030
24   국회의사당  9호선  37.528105  126.917874
25      당산  9호선  37.533406  126.902809
26     선유도  9호선  37.538020  126.893525
27     신목동  9호선  37.544277  126.883080
28      염창  9호선  37.546936  126.874916
29      등촌  9호선  37.550632  126.865689
30      증미  9호선  37.557402  126.861939
31      가양  9호선  37.561391  126.854456
32    양천향교  9호선  37.568381  126.841333
33    마곡나루  9호선  37.566778  126.827310
34     신방화  9호선  37.567532  126.816601
35    공항시장  9호선  37.563726  126.810678
36    김포공항  9호선  37.561916  126.802152
37      개화  9호선  37.578608  126.798153

In [933]:
df_lines_gihu=[]
for i in range (9):
    f"df_lines_gihu.append(df_{i}line_gihu)"
    
df_lines_gihu

[]

In [934]:
df_lines_gihu = []
for i in range(1, 10):
    df_name = f"df_{i}line_gihu"
    df = globals()[df_name]  # globals() 함수를 사용하여 변수에 접근
    df_lines_gihu.append(df)

df_lines_gihu

[              역명   호선         위도          경도
 2             창동  1호선  37.653181  127.047663
 3             월계  1호선  37.633114  127.058835
 4            외대앞  1호선  37.596157  127.063572
 5             대방  1호선  37.513392  126.926407
 6             신길  1호선  37.517018  126.917743
 8             구일  1호선  37.496273  126.869599
 9             온수  1호선  37.492267  126.823399
 14           소요산  1호선  37.565300  127.033900
 24           도봉산  1호선  37.689603  127.046347
 25            방학  1호선  37.667960  127.044560
 26            녹천  1호선  37.644599  127.051406
 27            석계  1호선  37.615206  127.065594
 28           신이문  1호선  37.602745  127.067556
 29            회기  1호선  37.589802  127.057936
 30            남영  1호선  37.540597  126.971171
 31            용산  1호선  37.529890  126.964775
 32           노량진  1호선  37.514072  126.941671
 33           영등포  1호선  37.515756  126.907411
 34           신도림  1호선  37.508983  126.891513
 35            개봉  1호선  37.494698  126.858504
 36           오류동  1호선  37.494400  126.844551
 55            구로  1호선  37.502211  126.881818
 56       가산디지털단지  1호선  37.481568  126.882628
 57            독산  1호선  37.465994  126.889508
 58          금천구청  1호선  37.455760  126.894344
 89           서울역  1호선  37.553150  126.972533
 90            시청  1호선  37.563590  126.975407
 91            종각  1호선  37.570203  126.983116
 92          종로3가  1호선  37.570429  126.992095
 93          종로5가  1호선  37.570971  127.001900
 94           동대문  1호선  37.565145  127.007890
 95           신설동  1호선  37.576117  127.024710
 96           제기동  1호선  37.578116  127.034902
 97  청량리(서울시립대입구)  1호선  37.580148  127.045063
 98           동묘앞  1호선  37.573265  127.016459,
                 역명   호선         위도          경도
 0               시청  2호선  37.563534  126.975271
 1            을지로입구  2호선  37.565998  126.982569
 2            을지로3가  2호선  37.566292  126.991773
 3            을지로4가  2호선  37.566611  126.998122
 4   동대문역사문화공원(DDP)  2호선  37.565609  127.009083
 5               신당  2호선  37.565681  127.019488
 6             상왕십리  2호선  37.564504  127.028872
 7        왕십리(성동구청)  2호선  37.561159  127.035505
 8              한양대  2호선  37.556580  127.043504
 9               뚝섬  2호선  37.547180  127.047413
 10              성수  2호선  37.544628  127.055983
 11            건대입구  2호선  37.540408  127.069231
 12        구의(광진구청)  2호선  37.536857  127.085024
 13      강변(동서울터미널)  2호선  37.535161  127.094684
 14            잠실나루  2호선  37.520688  127.103836
 15        잠실(송파구청)  2호선  37.513305  127.100129
 16            잠실새내  2호선  37.520731  127.103738
 17           종합운동장  2호선  37.511008  127.073641
 18        삼성(무역센터)  2호선  37.508827  127.063203
 19              선릉  2호선  37.504257  127.048174
 20              역삼  2호선  37.500658  127.036430
 21              강남  2호선  37.497958  127.027539
 22     교대(법원, 검찰청)  2호선  37.493957  127.014631
 23              서초  2호선  37.491910  127.007945
 24              방배  2호선  37.481469  126.997627
 25              사당  2호선  37.476536  126.981631
 26        낙성대(강감찬)  2호선  37.476930  126.963783
 27     서울대입구(관악구청)  2호선  37.481233  126.952745
 28              봉천  2호선  37.482416  126.941896
 29              신림  2호선  37.484216  126.929573
 30             신대방  2호선  37.487534  126.913279
 31         구로디지털단지  2호선  37.485005  126.902626
 32        대림(구로구청)  2호선  37.492426  126.895293
 33             신도림  2호선  37.508815  126.891222
 34              문래  2호선  37.517993  126.894766
 35           영등포구청  2호선  37.525766  126.896627
 36              당산  2호선  37.533877  126.902011
 37              합정  2호선  37.550025  126.914557
 38            홍대입구  2호선  37.556748  126.923643
 39          신촌(지하)  2호선  37.555153  126.936890
 40              이대  2호선  37.556734  126.945897
 41              아현  2호선  37.557407  126.956079
 42      충정로(경기대입구)  2호선  37.559742  126.964455
 43              용답  2호선  37.566412  126.977863
 44              신답  2호선  37.561470  127.056348
 45             신설동  2호선  37.574653  127.025158
 46             도림천  2호선  37.514759  126.882586
 47            양천구청  2호선  37.512194  126.865193
 48           신정네거리  2호선  37.520218  126.852849
 49       용두(동대문구청)  2호선  37.574012  127.038110,
               역명   호선         위도          경도
 10            지축  3호선  37.648281  126.912551
 11           구파발  3호선  37.636612  126.918827
 12           연신내  3호선  37.618855  126.920859
 13            불광  3호선  37.610554  126.929843
 14            녹번  3호선  37.600882  126.935758
 15            홍제  3호선  37.588851  126.944092
 16           무악재  3호선  37.582658  126.950131
 17           독립문  3호선  37.574534  126.957902
 18   경복궁(정부서울청사)  3호선  37.575844  126.973576
 19            안국  3호선  37.576562  126.985470
 20          종로3가  3호선  37.571537  126.991237
 21         을지로3가  3호선  37.566299  126.992616
 22           충무로  3호선  37.561302  126.995473
 23          동대입구  3호선  37.558160  127.005273
 24            약수  3호선  37.554674  127.010628
 25            금호  3호선  37.548269  127.015785
 26            옥수  3호선  37.541653  127.017303
 27           압구정  3호선  37.526169  127.028502
 28            신사  3호선  37.516438  127.020247
 29            잠원  3호선  37.512989  127.011613
 30         고속터미널  3호선  37.504953  127.004916
 31    교대(법원·검찰청)  3호선  37.493060  127.013796
 32  남부터미널(예술의전당)  3호선  37.484940  127.016289
 33      양재(서초구청)  3호선  37.484660  127.035130
 34            매봉  3호선  37.487114  127.046907
 35            도곡  3호선  37.491129  127.055694
 36            대치  3호선  37.494601  127.063449
 37           학여울  3호선  37.496757  127.070541
 38            대청  3호선  37.493607  127.079526
 39            일원  3호선  37.483890  127.084160
 40            수서  3호선  37.487507  127.101324
 41          가락시장  3호선  37.492368  127.118101
 42          경찰병원  3호선  37.495754  127.124198
 43            오금  3호선  37.502288  127.128344,
              역명   호선         위도          경도
 47          남태령  4호선  37.464339  126.989081
 46           사당  4호선  37.476563  126.981746
 45    총신대입구(이수)  4호선  37.487521  126.982309
 44      동작(현충원)  4호선  37.503567  126.980171
 43  이촌(국립중앙박물관)  4호선  37.522525  126.973350
 42          신용산  4호선  37.529190  126.968580
 41          삼각지  4호선  37.535057  126.973354
 40     숙대입구(갈월)  4호선  37.545124  126.971952
 39          서울역  4호선  37.553172  126.972836
 38    회현(남대문시장)  4호선  37.559698  126.979565
 37           명동  4호선  37.561055  126.988271
 36          충무로  4호선  37.561302  126.995473
 35    동대문역사문화공원  4호선  37.565141  127.008458
 34          동대문  4호선  37.570990  127.008835
 33           혜화  4호선  37.582116  127.001759
 32   한성대입구(삼선교)  4호선  37.588380  127.006751
 31   성신여대입구(돈암)  4호선  37.592782  127.017338
 30           길음  4호선  37.604087  127.025353
 29        미아사거리  4호선  37.613276  127.030083
 28           미아  4호선  37.626435  127.026151
 27     수유(강북구청)  4호선  37.637127  127.024731
 26           쌍문  4호선  37.648274  127.034381
 25           창동  4호선  37.652993  127.046746
 24           노원  4호선  37.656274  127.063183
 23           상계  4호선  37.660576  127.073199
 22          당고개  4호선  37.669560  127.078404,
                역명   호선         위도          경도
 0              방화  5호선  37.577669  126.812822
 1             개화산  5호선  37.572458  126.806838
 2            김포공항  5호선  37.562170  126.801273
 3              송정  5호선  37.561411  126.812052
 4              마곡  5호선  37.562182  126.826930
 5              발산  5호선  37.562182  126.826930
 6             우장산  5호선  37.548864  126.836330
 7              화곡  5호선  37.541585  126.840436
 8             까치산  5호선  37.531810  126.846706
 9         신정(은행정)  5호선  37.525001  126.856176
 10             목동  5호선  37.526088  126.864296
 11    오목교(목동운동장앞)  5호선  37.524557  126.875049
 12             양평  5호선  37.525614  126.886177
 13          영등포구청  5호선  37.524209  126.895022
 14          영등포시장  5호선  37.522760  126.905143
 15             신길  5호선  37.517630  126.914886
 16            여의도  5호선  37.521578  126.924318
 17           여의나루  5호선  37.527145  126.932807
 18             마포  5호선  37.539718  126.946043
 19             공덕  5호선  37.544005  126.951058
 20            애오개  5호선  37.553592  126.956733
 21     충정로(경기대입구)  5호선  37.560061  126.962783
 22            서대문  5호선  37.565812  126.966639
 23    광화문(세종문화회관)  5호선  37.570545  126.976568
 24     종로3가(탑골공원)  5호선  37.572546  126.990447
 25          을지로4가  5호선  37.566580  126.998127
 26      동대문역사문화공원  5호선  37.564682  127.005330
 27             청구  5호선  37.560237  127.013790
 28            신금호  5호선  37.554504  127.020403
 29             행당  5호선  37.557297  127.029482
 30            왕십리  5호선  37.561970  127.037264
 31             마장  5호선  37.566066  127.042921
 32            답십리  5호선  37.566833  127.052660
 33            장한평  5호선  37.561438  127.064601
 34         군자(능동)  5호선  37.557102  127.079559
 35  아차산(어린이대공원후문)  5호선  37.552005  127.089609
 36       광나루(장신대)  5호선  37.545301  127.103478
 37       천호(풍납토성)  5호선  37.538566  127.123539
 38             강동  5호선  37.535810  127.132490
 39             길동  5호선  37.538022  127.140085
 40  굽은다리(강동구민회관앞)  5호선  37.545442  127.142844
 41             명일  5호선  37.551317  127.144002
 42             고덕  5호선  37.555002  127.154214
 43            상일동  5호선  37.556714  127.166381
 44            둔촌동  5호선  37.527787  127.136219
 45    올림픽공원(한국체대)  5호선  37.516217  127.130957
 46             방이  5호선  37.508752  127.126054
 47             오금  5호선  37.502228  127.127701
 48             개롱  5호선  37.498097  127.134817
 49             거여  5호선  37.493208  127.143983
 50             마천  5호선  37.494972  127.152784
 51             강일  5호선  37.557521  127.176018,
                 역명   호선         위도          경도
 0               응암  6호선  37.598590  126.915583
 1               역촌  6호선  37.606050  126.922764
 2               불광  6호선  37.610919  126.929504
 3              독바위  6호선  37.618413  126.933035
 4              연신내  6호선  37.617293  127.091375
 5               구산  6호선  37.618596  126.920519
 6           새절(신사)  6호선  37.611223  126.917246
 7         증산(명지대앞)  6호선  37.591148  126.913613
 8         디지털미디어시티  6호선  37.583989  126.909785
 9       월드컵경기장(성산)  6호선  37.577005  126.898643
 10            마포구청  6호선  37.569439  126.899077
 11              망원  6호선  37.563535  126.903326
 12              합정  6호선  37.556031  126.910129
 13              상수  6호선  37.549033  126.913546
 14         광흥창(서강)  6호선  37.547704  126.922920
 15        대흥(서강대앞)  6호선  37.547464  126.931971
 16              공덕  6호선  37.547732  126.942214
 17           효창공원앞  6호선  37.543592  126.951664
 18             삼각지  6호선  37.539279  126.961348
 19       녹사평(용산구청)  6호선  37.535563  126.973996
 20             이태원  6호선  37.534690  126.986650
 21             한강진  6호선  37.534485  126.994369
 22            버티고개  6호선  37.539560  127.001729
 23              약수  6호선  37.547933  127.006948
 24              청구  6호선  37.554087  127.010237
 25              신당  6호선  37.560221  127.013776
 26             동묘앞  6호선  37.566174  127.016158
 27              창신  6호선  37.572275  127.015666
 28              보문  6호선  37.579772  127.015246
 29       안암(고대병원앞)  6호선  37.585293  127.019377
 30         고려대(종암)  6호선  37.586261  127.029030
 31        월곡(동덕여대)  6호선  37.590340  127.036260
 32  상월곡(한국과학기술연구원)  6호선  37.601920  127.041492
 33             돌곶이  6호선  37.606392  127.048509
 34              석계  6호선  37.610522  127.056419
 35            태릉입구  6호선  37.614937  127.065922
 36     화랑대(서울여대입구)  6호선  37.617319  127.074741
 37      봉화산(서울의료원)  6호선  37.619875  127.084106
 38              신내  6호선  37.612571  127.104326,
              역명   호선         위도          경도
 0            장암  7호선  37.700150  127.053126
 1           도봉산  7호선  37.689131  127.046548
 2           수락산  7호선  37.677804  127.055314
 3            마들  7호선  37.664985  127.057701
 4            노원  7호선  37.654478  127.060555
 5            중계  7호선  37.645052  127.064084
 6            하계  7호선  37.636363  127.067999
 7   공릉(서울과학기술대)  7호선  37.625642  127.072969
 8          태릉입구  7호선  37.617319  127.074741
 9            먹골  7호선  37.610638  127.077719
 10           중화  7호선  37.602604  127.079254
 11  상봉(시외버스터미널)  7호선  37.595673  127.085708
 12           면목  7호선  37.588671  127.087503
 13          사가정  7호선  37.580912  127.088502
 14          용마산  7호선  37.573752  127.086802
 15           중곡  7호선  37.565877  127.084291
 16       군자(능동)  7호선  37.557151  127.079484
 17  어린이대공원(세종대)  7호선  37.547962  127.074650
 18         건대입구  7호선  37.540882  127.071103
 19        뚝섬유원지  7호선  37.531558  127.066714
 20           청담  7호선  37.519097  127.051851
 21         강남구청  7호선  37.517185  127.041220
 22           학동  7호선  37.514262  127.031738
 23           논현  7호선  37.511108  127.021385
 24           반포  7호선  37.508171  127.011717
 25        고속터미널  7호선  37.503387  127.005055
 26           내방  7호선  37.487640  126.993541
 27    총신대입구(이수)  7호선  37.485258  126.981766
 28           남성  7호선  37.484688  126.971108
 29   숭실대입구(살피재)  7호선  37.496258  126.953649
 30           상도  7호선  37.502790  126.947949
 31         장승배기  7호선  37.504845  126.939025
 32       신대방삼거리  7호선  37.499717  126.928218
 33          보라매  7호선  37.499916  126.920112
 34           신풍  7호선  37.500107  126.909806
 35     대림(구로구청)  7호선  37.492984  126.896997
 36          남구로  7호선  37.486181  126.887372
 37      가산디지털단지  7호선  37.480376  126.882704
 38           철산  7호선  37.476160  126.868217
 39        광명사거리  7호선  37.479270  126.854854
 40           천왕  7호선  37.486699  126.838684
 41   온수(성공회대입구)  7호선  37.492059  126.823294,
                   역명   호선         위도          경도
 0                 암사  8호선  37.550127  127.127521
 1           천호(풍납토성)  8호선  37.537920  127.123179
 2               강동구청  8호선  37.530348  127.120461
 3         몽촌토성(평화의문)  8호선  37.517692  127.112740
 4           잠실(송파구청)  8호선  37.514649  127.104267
 5                 석촌  8호선  37.505396  127.106995
 6                 송파  8호선  37.499780  127.112120
 7               가락시장  8호선  37.493004  127.118279
 8                 문정  8호선  37.485931  127.122473
 9                 장지  8호선  37.478609  127.126229
 10                복정  8호선  37.471016  127.126746
 11                산성  8호선  37.456886  127.149927
 12  남한산성입구(성남법원·검찰청)  8호선  37.451568  127.159845
 13             단대오거리  8호선  37.445057  127.156735
 14                신흥  8호선  37.440952  127.147590
 15                수진  8호선  37.437575  127.140936
 16                모란  8호선  37.433888  127.129921
 17               남위례  8호선  37.462839  127.139047,
         역명   호선         위도          경도
 0   중앙보훈병원  9호선  37.529191  127.148739
 1     둔촌오륜  9호선  37.519683  127.137989
 2    올림픽공원  9호선  37.516269  127.130288
 3     한성백제  9호선  37.516404  127.116503
 4     송파나루  9호선  37.510372  127.112216
 5       석촌  9호선  37.505208  127.107040
 6     석촌고분  9호선  37.502558  127.097033
 7       삼전  9호선  37.504738  127.088025
 8    종합운동장  9호선  37.511426  127.076275
 9      봉은사  9호선  37.514219  127.060245
 10    삼성중앙  9호선  37.513011  127.053282
 11     선정릉  9호선  37.510297  127.043999
 12      언주  9호선  37.507287  127.033868
 13     신논현  9호선  37.504598  127.025060
 14      사평  9호선  37.504206  127.015259
 15   고속터미널  9호선  37.505980  127.004403
 16     신반포  9호선  37.503415  126.995925
 17     구반포  9호선  37.501364  126.987332
 18      동작  9호선  37.502878  126.978153
 19      흑석  9호선  37.508770  126.963708
 20      노들  9호선  37.512887  126.953222
 21     노량진  9호선  37.513534  126.941005
 22      샛강  9호선  37.517274  126.928422
 23     여의도  9호선  37.521760  126.924030
 24   국회의사당  9호선  37.528105  126.917874
 25      당산  9호선  37.533406  126.902809
 26     선유도  9호선  37.538020  126.893525
 27     신목동  9호선  37.544277  126.883080
 28      염창  9호선  37.546936  126.874916
 29      등촌  9호선  37.550632  126.865689
 30      증미  9호선  37.557402  126.861939
 31      가양  9호선  37.561391  126.854456
 32    양천향교  9호선  37.568381  126.841333
 33    마곡나루  9호선  37.566778  126.827310
 34     신방화  9호선  37.567532  126.816601
 35    공항시장  9호선  37.563726  126.810678
 36    김포공항  9호선  37.561916  126.802152
 37      개화  9호선  37.578608  126.798153]

In [935]:
df_uEline=pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_우이신설_역위치.csv', encoding='cp949')
df_Airportline= pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_공항철도_역위치_20231106.csv',encoding='cp949')
df_KJline= pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_경의중앙선_역위치_20231101.csv',encoding='cp949')
df_KCHline= pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_경춘선_역위치_20231106.csv',encoding='cp949')
df_SBline=pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/국가철도공단_분당선_역위치_20231106.csv',encoding='cp949')

In [936]:

df_uEline

    철도운영기관명     선명              역명         경도        위도
0   우이신설경전철  우이신설선    북한산우이(도선사입구)  127.01272  37.66284
1   우이신설경전철  우이신설선            솔밭공원  127.01326  37.65607
2   우이신설경전철  우이신설선  4.19민주묘지(덕성여대)  127.01371  37.64954
3   우이신설경전철  우이신설선             가오리  127.01681  37.64162
4   우이신설경전철  우이신설선              화계  127.01750  37.63428
5   우이신설경전철  우이신설선              삼양  127.01817  37.62706
6   우이신설경전철  우이신설선           삼양사거리  127.02049  37.62144
7   우이신설경전철  우이신설선              솔샘  127.01357  37.62037
8   우이신설경전철  우이신설선     북한산보국문(서경대)  127.00816  37.61233
9   우이신설경전철  우이신설선       정릉(국민대입구)  127.01345  37.60278
10  우이신설경전철  우이신설선          성신여대입구  127.01656  37.59287
11  우이신설경전철  우이신설선              보문  127.01939  37.58551
12  우이신설경전철  우이신설선             신설동  127.02361  37.57579

In [937]:
df_uEline_gihu = df_uEline[['역명', '선명', '위도', '경도']]
df_uEline_gihu = df_uEline_gihu.rename(columns={'선명': '호선'})

In [938]:
df_Airportline

     철도운영기관명    선명        역명          경도         위도
0   공항철도주식회사  공항철도       서울역  126.970466  37.549065
1   공항철도주식회사  공항철도        공덕  126.951630  37.542710
2   공항철도주식회사  공항철도      홍대입구  126.926523  37.557885
3   공항철도주식회사  공항철도  디지털미디어시티  126.897246  37.578364
4   공항철도주식회사  공항철도      마곡나루  126.827608  37.565332
5   공항철도주식회사  공항철도      김포공항  126.802512  37.566773
6   공항철도주식회사  공항철도        계양  126.736645  37.571453
7   공항철도주식회사  공항철도        검암  126.673146  37.569207
8   공항철도주식회사  공항철도    청라국제도시  126.625377  37.554887
9   공항철도주식회사  공항철도        영종  126.523727  37.511865
10  공항철도주식회사  공항철도        운서  126.493713  37.492845
11  공항철도주식회사  공항철도    공항화물청사  126.477421  37.458976
12  공항철도주식회사  공항철도  인천공항1터미널  126.458091  37.447549
13  공항철도주식회사  공항철도  인천공항2터미널  126.440614  37.479174

In [939]:
df_Airportline = df_Airportline[df_Airportline['경도']>=df_Airportline[df_Airportline['역명'] == '김포공항']['경도'].values[0]]
df_Airportline_gihu = df_Airportline[['역명', '선명', '위도', '경도']]
df_Airportline_gihu = df_Airportline_gihu.rename(columns={'선명': '호선'})

In [940]:
df_KJline

   철도운영기관명    선명            역명          경도         위도
0      코레일  경의중앙            공덕  126.952134  37.542611
1      코레일  경의중앙   양원(서울시북부병원)  127.108000  37.606600
2      코레일  경의중앙            회기  127.057936  37.589802
3      코레일  경의중앙           서울역  126.971276  37.556964
4      코레일  경의중앙            야당  126.761535  37.712749
5      코레일  경의중앙            신원         NaN        NaN
6      코레일  경의중앙            국수  127.399402  37.516171
7      코레일  경의중앙            망우  127.000000  37.000000
8      코레일  경의중앙            강매  126.845437  37.612596
9      코레일  경의중앙            곡산  126.801877  37.645729
10     코레일  경의중앙            용산         NaN        NaN
11     코레일  경의중앙            이촌  126.973816  37.522476
12     코레일  경의중앙           서빙고  126.988358  37.519610
13     코레일  경의중앙            한남  127.008984  37.529361
14     코레일  경의중앙            옥수         NaN        NaN
15     코레일  경의중앙            중랑  127.076152  37.594948
16     코레일  경의중앙            구리  126.882037  37.503178
17     코레일  경의중앙            도농  127.161105  37.608756
18     코레일  경의중앙            양정  127.194602  37.604269
19     코레일  경의중앙            덕소  127.123100  37.351400
20     코레일  경의중앙            팔당  127.243896  37.547321
21     코레일  경의중앙           운길산  127.310089  37.554659
22     코레일  경의중앙            양수  127.328948  37.545998
23     코레일  경의중앙  아신(아세아연합신학대)  127.443238  37.513954
24     코레일  경의중앙            오빈  127.474053  37.506061
25     코레일  경의중앙       원덕(추읍산)  127.547468  37.468585
26     코레일  경의중앙            용문  127.594251  37.482085
27     코레일  경의중앙            지평  127.629681  37.476496
28     코레일  경의중앙           청량리  127.046516  37.580543
29     코레일  경의중앙         효창공원앞  126.961339  37.539289
30     코레일  경의중앙           서강대  126.935389  37.552132
31     코레일  경의중앙          홍대입구  126.925533  37.558080
32     코레일  경의중앙            가좌  126.914841  37.568611
33     코레일  경의중앙      디지털미디어시티         NaN        NaN
34     코레일  경의중앙            수색  126.895681  37.580855
35     코레일  경의중앙            행신  126.834063  37.612125
36     코레일  경의중앙            능곡  126.820845  37.618741
37     코레일  경의중앙            풍산  126.786355  37.672173
38     코레일  경의중앙            일산  126.769521  37.682231
39     코레일  경의중앙            탄현  126.761075  37.694114
40     코레일  경의중앙            운정  126.767076  37.725441
41     코레일  경의중앙            금촌  126.774515  37.766106
42     코레일  경의중앙     월롱(서영대학교)  126.792574  37.796201
43     코레일  경의중앙      파주(두원대학)  126.473408  37.485481
44     코레일  경의중앙            문산  126.787531  37.854565
45     코레일  경의중앙            운천         NaN        NaN
46     코레일  경의중앙           도라산  126.708563  37.897770
47     코레일  경의중앙            신촌  126.942308  37.559768
48     코레일  경의중앙            응봉  127.034824  37.550433
49     코레일  경의중앙            상봉  127.085853  37.595254
50     코레일  경의중앙            도심  127.222798  37.579628
51     코레일  경의중앙            양평  127.491858  37.492674
52     코레일  경의중앙           왕십리  127.035505  37.561128
53     코레일  경의중앙     화전(한국항공대)  126.832503  37.637837
54     코레일  경의중앙            대곡  126.811025  37.631629
55     코레일  경의중앙            백마  126.794401  37.658346
56     코레일  경의중앙            금릉  126.765401  37.751295
57     코레일  경의중앙           임진강  126.746777  37.888364

In [941]:
양원_longitude = df_KJline[df_KJline['역명'] == '양원(서울시북부병원)']['경도'].values[0]
수색_longitude = df_KJline[df_KJline['역명'] == '수색']['경도'].values[0]

df_seriesKJ = df_KJline[(df_KJline['경도'] >= 수색_longitude) & (df_KJline['경도'] <= 양원_longitude)]
df_seriesKJ.sort_values(by='경도',ascending=False,inplace=True)

/tmp/ipykernel_8998/1553140728.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_seriesKJ.sort_values(by='경도',ascending=False,inplace=True)

In [942]:
yespa_db = mysql.connector.connect(
    host = 'database-1.c3ieyo8m4v9o.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'eda_team',
    database = 'eda_project',
    password = '123456'
)

cur = yespa_db.cursor(buffered=True, dictionary=True)

cur.execute("SELECT * FROM seoul_metro_coor WHERE 역명 LIKE '디지털미디어%' OR 역명 LIKE '용산' OR 역명 LIKE '옥수';")
result_KJ = cur.fetchall()

for data in result_KJ:
    print(data)
    
yespa_db.close()

{'역명': '디지털미디어시티', '호선': '공항철도1호선', '위도': 37.576958, '경도': 126.898609}
{'역명': '디지털미디어시티', '호선': '6호선', '위도': 37.576108, '경도': 126.901391}
{'역명': '디지털미디어시티', '호선': '경의중앙선', '위도': 37.577475, '경도': 126.900453}
{'역명': '디지털미디어시티', '호선': '경의중앙선', '위도': 37.577475, '경도': 126.900453}
{'역명': '옥수', '호선': '경원선', '위도': 37.540446, '경도': 127.018672}
{'역명': '용산', '호선': '경부선', '위도': 37.529849, '경도': 126.964561}
{'역명': '옥수', '호선': '3호선', '위도': 37.541684, '경도': 127.017269}

In [943]:
result_KJ[3]['호선']='경의중앙'
result_KJ[4]['호선']='경의중앙'
result_KJ[5]['호선']='경의중앙'

In [944]:
df_add=pd.DataFrame(result_KJ[3:6])
df_add.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   역명      3 non-null      object
 1   호선      3 non-null      object
 2   위도      3 non-null      float64
 3   경도      3 non-null      float64
dtypes: float64(2), object(2)
memory usage: 224.0+ bytes

In [945]:
df_seriesKJ

   철도운영기관명    선명           역명          경도         위도
1      코레일  경의중앙  양원(서울시북부병원)  127.108000  37.606600
49     코레일  경의중앙           상봉  127.085853  37.595254
15     코레일  경의중앙           중랑  127.076152  37.594948
2      코레일  경의중앙           회기  127.057936  37.589802
28     코레일  경의중앙          청량리  127.046516  37.580543
52     코레일  경의중앙          왕십리  127.035505  37.561128
48     코레일  경의중앙           응봉  127.034824  37.550433
13     코레일  경의중앙           한남  127.008984  37.529361
7      코레일  경의중앙           망우  127.000000  37.000000
12     코레일  경의중앙          서빙고  126.988358  37.519610
11     코레일  경의중앙           이촌  126.973816  37.522476
3      코레일  경의중앙          서울역  126.971276  37.556964
29     코레일  경의중앙        효창공원앞  126.961339  37.539289
0      코레일  경의중앙           공덕  126.952134  37.542611
47     코레일  경의중앙           신촌  126.942308  37.559768
30     코레일  경의중앙          서강대  126.935389  37.552132
31     코레일  경의중앙         홍대입구  126.925533  37.558080
32     코레일  경의중앙           가좌  126.914841  37.568611
34     코레일  경의중앙           수색  126.895681  37.580855

In [946]:
df_seriesKJ = df_seriesKJ[['역명', '선명', '위도', '경도']]
df_seriesKJ = df_seriesKJ.rename(columns={'선명': '호선'})

In [947]:
df_KJline_gihu = pd.concat([df_seriesKJ, df_add], ignore_index=True)
df_KJline_gihu

             역명    호선         위도          경도
0   양원(서울시북부병원)  경의중앙  37.606600  127.108000
1            상봉  경의중앙  37.595254  127.085853
2            중랑  경의중앙  37.594948  127.076152
3            회기  경의중앙  37.589802  127.057936
4           청량리  경의중앙  37.580543  127.046516
5           왕십리  경의중앙  37.561128  127.035505
6            응봉  경의중앙  37.550433  127.034824
7            한남  경의중앙  37.529361  127.008984
8            망우  경의중앙  37.000000  127.000000
9           서빙고  경의중앙  37.519610  126.988358
10           이촌  경의중앙  37.522476  126.973816
11          서울역  경의중앙  37.556964  126.971276
12        효창공원앞  경의중앙  37.539289  126.961339
13           공덕  경의중앙  37.542611  126.952134
14           신촌  경의중앙  37.559768  126.942308
15          서강대  경의중앙  37.552132  126.935389
16         홍대입구  경의중앙  37.558080  126.925533
17           가좌  경의중앙  37.568611  126.914841
18           수색  경의중앙  37.580855  126.895681
19     디지털미디어시티  경의중앙  37.577475  126.900453
20           옥수  경의중앙  37.540446  127.018672
21           용산  경의중앙  37.529849  126.964561

In [948]:
df_seriesKCH = df_KCHline[0:8]

In [949]:
df_seriesKCH = df_seriesKCH[df_seriesKCH['역명'] != '대성리']
df_seriesKCH

  철도운영기관명  선명   역명          경도         위도
0     코레일  경춘  광운대         NaN        NaN
2     코레일  경춘  청량리  127.045043  37.580113
3     코레일  경춘   회기  127.057989  37.589774
4     코레일  경춘   중랑  127.076152  37.594944
5     코레일  경춘   상봉         NaN        NaN
6     코레일  경춘   망우         NaN        NaN
7     코레일  경춘   신내  127.103277  37.612855

In [950]:
df_seriesKCH = df_seriesKCH[['역명', '선명', '위도', '경도']]
df_seriesKCH = df_seriesKCH.rename(columns={'선명': '호선'})

In [951]:
yespa_db = mysql.connector.connect(
    host = 'database-1.c3ieyo8m4v9o.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'eda_team',
    database = 'eda_project',
    password = '123456'
)

cur = yespa_db.cursor(buffered=True, dictionary=True)

cur.execute("SELECT * FROM seoul_metro_coor WHERE 역명 LIKE '광운대' OR 역명 LIKE '상봉' OR 역명 LIKE '망우';")
result_KCH = cur.fetchall()

for data in result_KCH:
    print(data)
    
yespa_db.close()

{'역명': '상봉', '호선': '7호선', '위도': 37.595577, '경도': 127.085716}
{'역명': '망우', '호선': '중앙선', '위도': 37.59955, '경도': 127.091909}
{'역명': '상봉', '호선': '중앙선', '위도': 37.596678, '경도': 127.08504}
{'역명': '광운대', '호선': '경원선', '위도': 37.623632, '경도': 127.061835}

In [952]:
result_KCH[1]['호선']='경춘선'
result_KCH[2]['호선']='경춘선'
result_KCH[3]['호선']='경춘선'

In [953]:
df_add2 = pd.DataFrame(result_KCH[1:4])

In [954]:
df_KCHline_gihu = pd.concat([df_seriesKCH, df_add2], ignore_index=True)
df_KCHline_gihu

    역명   호선         위도          경도
0  광운대   경춘        NaN         NaN
1  청량리   경춘  37.580113  127.045043
2   회기   경춘  37.589774  127.057989
3   중랑   경춘  37.594944  127.076152
4   상봉   경춘        NaN         NaN
5   망우   경춘        NaN         NaN
6   신내   경춘  37.612855  127.103277
7   망우  경춘선  37.599550  127.091909
8   상봉  경춘선  37.596678  127.085040
9  광운대  경춘선  37.623632  127.061835

In [955]:
df_KCHline_gihu.dropna(inplace=True)

# 인덱스 다시 설정
df_KCHline_gihu.reset_index(drop=True, inplace=True)
df_KCHline_gihu

    역명   호선         위도          경도
0  청량리   경춘  37.580113  127.045043
1   회기   경춘  37.589774  127.057989
2   중랑   경춘  37.594944  127.076152
3   신내   경춘  37.612855  127.103277
4   망우  경춘선  37.599550  127.091909
5   상봉  경춘선  37.596678  127.085040
6  광운대  경춘선  37.623632  127.061835

In [956]:
df_SBline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   철도운영기관명  63 non-null     object
 1   선명       63 non-null     object
 2   역명       63 non-null     object
 3   경도       54 non-null     float64
 4   위도       54 non-null     float64
dtypes: float64(2), object(3)
memory usage: 2.6+ KB

In [957]:
df_SBline[df_SBline.isnull().any(axis=1)]

   철도운영기관명    선명         역명  경도  위도
0      코레일  수인분당  수내(한국잡월드) NaN NaN
30     코레일  수인분당        한대앞 NaN NaN
32     코레일  수인분당         고잔 NaN NaN
33     코레일  수인분당         초지 NaN NaN
35     코레일  수인분당       신길온천 NaN NaN
36     코레일  수인분당         정왕 NaN NaN
37     코레일  수인분당        오이도 NaN NaN
48     코레일  수인분당         구룡 NaN NaN
50     코레일  수인분당         수서 NaN NaN

In [958]:
df_SBline[df_SBline['역명'].str.contains('복정')]

  철도운영기관명    선명         역명          경도         위도
9     코레일  수인분당  복정(동서울대학)  127.126627  37.469753

In [959]:
복정_latitude = df_SBline[df_SBline['역명'] == '복정(동서울대학)']['위도'].values[0]

df_seiresSB= df_SBline[df_SBline['위도'] >= 복정_latitude]
df_seiresSB

   철도운영기관명    선명             역명          경도         위도
3      코레일  수인분당             인천  126.616936  37.476364
4      코레일  수인분당            청량리  127.045043  37.580113
5      코레일  수인분당         압구정로데오  127.040555  37.527385
6      코레일  수인분당  선정릉(한국과학창의재단)  127.043817  37.510275
7      코레일  수인분당             선릉  127.048941  37.504479
9      코레일  수인분당      복정(동서울대학)  127.126627  37.469753
43     코레일  수인분당            왕십리  127.035505  37.561128
44     코레일  수인분당            서울숲  127.044686  37.543647
45     코레일  수인분당           강남구청  127.041275  37.517172
46     코레일  수인분당             한티  127.052883  37.496208
47     코레일  수인분당             도곡  127.055393  37.490914
49     코레일  수인분당          대모산입구  127.072740  37.491422

In [960]:
yespa_db = mysql.connector.connect(
    host = 'database-1.c3ieyo8m4v9o.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'eda_team',
    database = 'eda_project',
    password = '123456'
)

cur = yespa_db.cursor(buffered=True, dictionary=True)

cur.execute("SELECT * FROM seoul_metro_coor WHERE 역명 LIKE '구룡' OR 역명 LIKE '수서';")
result_SB = cur.fetchall()

for data in result_SB:
    print(data)
    
yespa_db.close()

{'역명': '수서', '호선': '분당선', '위도': 37.487472, '경도': 127.101422}
{'역명': '구룡', '호선': '분당선', '위도': 37.486839, '경도': 127.058856}
{'역명': '수서', '호선': '3호선', '위도': 37.487378, '경도': 127.101907}

In [961]:
result_SB[0]['호선']='수인분당'
result_SB[1]['호선']='수인분당'
df_add3 = pd.DataFrame(result_SB[0:2])
df_add3

   역명    호선         위도          경도
0  수서  수인분당  37.487472  127.101422
1  구룡  수인분당  37.486839  127.058856

In [962]:
df_seriesSB= df_seiresSB[['역명', '선명', '위도', '경도']]
df_seiresSB = df_seiresSB.rename(columns={'선명': '호선'})
df_seiresSB

   철도운영기관명    호선             역명          경도         위도
3      코레일  수인분당             인천  126.616936  37.476364
4      코레일  수인분당            청량리  127.045043  37.580113
5      코레일  수인분당         압구정로데오  127.040555  37.527385
6      코레일  수인분당  선정릉(한국과학창의재단)  127.043817  37.510275
7      코레일  수인분당             선릉  127.048941  37.504479
9      코레일  수인분당      복정(동서울대학)  127.126627  37.469753
43     코레일  수인분당            왕십리  127.035505  37.561128
44     코레일  수인분당            서울숲  127.044686  37.543647
45     코레일  수인분당           강남구청  127.041275  37.517172
46     코레일  수인분당             한티  127.052883  37.496208
47     코레일  수인분당             도곡  127.055393  37.490914
49     코레일  수인분당          대모산입구  127.072740  37.491422

In [963]:
df_SBline_gihu = pd.concat([df_seiresSB, df_add3], ignore_index=True)
df_SBline_gihu

   철도운영기관명    호선             역명          경도         위도
0      코레일  수인분당             인천  126.616936  37.476364
1      코레일  수인분당            청량리  127.045043  37.580113
2      코레일  수인분당         압구정로데오  127.040555  37.527385
3      코레일  수인분당  선정릉(한국과학창의재단)  127.043817  37.510275
4      코레일  수인분당             선릉  127.048941  37.504479
5      코레일  수인분당      복정(동서울대학)  127.126627  37.469753
6      코레일  수인분당            왕십리  127.035505  37.561128
7      코레일  수인분당            서울숲  127.044686  37.543647
8      코레일  수인분당           강남구청  127.041275  37.517172
9      코레일  수인분당             한티  127.052883  37.496208
10     코레일  수인분당             도곡  127.055393  37.490914
11     코레일  수인분당          대모산입구  127.072740  37.491422
12     NaN  수인분당             수서  127.101422  37.487472
13     NaN  수인분당             구룡  127.058856  37.486839

In [964]:
df_SBline_gihu= df_SBline_gihu[df_SBline_gihu['역명'] != '인천']
df_SBline_gihu= df_SBline_gihu.drop(columns=['철도운영기관명'])
df_SBline_gihu

      호선             역명          경도         위도
1   수인분당            청량리  127.045043  37.580113
2   수인분당         압구정로데오  127.040555  37.527385
3   수인분당  선정릉(한국과학창의재단)  127.043817  37.510275
4   수인분당             선릉  127.048941  37.504479
5   수인분당      복정(동서울대학)  127.126627  37.469753
6   수인분당            왕십리  127.035505  37.561128
7   수인분당            서울숲  127.044686  37.543647
8   수인분당           강남구청  127.041275  37.517172
9   수인분당             한티  127.052883  37.496208
10  수인분당             도곡  127.055393  37.490914
11  수인분당          대모산입구  127.072740  37.491422
12  수인분당             수서  127.101422  37.487472
13  수인분당             구룡  127.058856  37.486839

In [965]:
df_SLline=pd.read_csv('/home/jinsa/dev_ws/EDA_PROJECT/DATA/line_coor_data/신림선jinsa.csv')
df_SLline

               역명  호선         위도          경도
0              샛강  신림  37.517151  126.929495
1        대방(성애병원)  신림  37.513022  126.925540
2         서울지방병무청  신림  37.506028  126.922674
3             보라매  신림  37.499864  126.920193
4           보라매공원  신림  37.495213  126.918253
5   보라매병원(전문건설회관)  신림  37.492802  126.923593
6              당곡  신림  37.490174  126.927553
7              신림  신림  37.484913  126.929593
8              서원  신림  37.478212  126.933082
9         서울대벤처타운  신림  37.471941  126.933992
10       관악산(서울대)  신림  37.468991  126.945118

In [966]:
lines_gihu = [globals()[f"df_{i}line_gihu"] for i in range(1, 10)]
lines_gihu.append(df_uEline_gihu)
lines_gihu.append(df_KJline_gihu)
lines_gihu.append(df_SLline)
lines_gihu.append(df_Airportline_gihu)
lines_gihu.append(df_KCHline_gihu)
lines_gihu.append(df_SBline_gihu)

In [967]:
df_metro_gihu = pd.concat(lines_gihu)
df_metro_gihu.reset_index(drop=True,inplace=True)
df_metro_gihu

        역명    호선         위도          경도
0       창동   1호선  37.653181  127.047663
1       월계   1호선  37.633114  127.058835
2      외대앞   1호선  37.596157  127.063572
3       대방   1호선  37.513392  126.926407
4       신길   1호선  37.517018  126.917743
..     ...   ...        ...         ...
401     한티  수인분당  37.496208  127.052883
402     도곡  수인분당  37.490914  127.055393
403  대모산입구  수인분당  37.491422  127.072740
404     수서  수인분당  37.487472  127.101422
405     구룡  수인분당  37.486839  127.058856

[406 rows x 4 columns]

In [968]:
import mysql.connector


yespa_db = mysql.connector.connect(
    host = 'database-1.c3ieyo8m4v9o.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'eda_team',
    database = 'eda_project',
    password = '123456'
)

cur = yespa_db.cursor()
sql = open("/home/jinsa/dev_ws/EDA_PROJECT/DATA_control/line_data1/Query/line_coor.sql").read()
cur.execute(sql)

yespa_db.close()

In [969]:
import mysql.connector


yespa_db = mysql.connector.connect(
    host = 'database-1.c3ieyo8m4v9o.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'eda_team',
    database = 'eda_project',
    password = '123456'
)

cursor = yespa_db.cursor(buffered=True)

sql = "INSERT INTO GIHU_metro_coor VALUES(%s,%s,%s,%s)"

for i, row in df_metro_gihu.iterrows():
    cursor.execute(sql, tuple(row))
    print(tuple(row))
    yespa_db.commit()
    
yespa_db.close()

('창동', '1호선', 37.653181, 127.047663)
('월계', '1호선', 37.633114, 127.058835)
('외대앞', '1호선', 37.596157, 127.063572)
('대방', '1호선', 37.513392, 126.926407)
('신길', '1호선', 37.517018, 126.917743)
('구일', '1호선', 37.496273, 126.869599)
('온수', '1호선', 37.492267, 126.823399)
('소요산', '1호선', 37.5653, 127.0339)
('도봉산', '1호선', 37.689603, 127.046347)
('방학', '1호선', 37.66796, 127.04456)
('녹천', '1호선', 37.644599, 127.051406)
('석계', '1호선', 37.615206, 127.065594)
('신이문', '1호선', 37.60274474, 127.067556)
('회기', '1호선', 37.589802, 127.057936)
('남영', '1호선', 37.540597, 126.971171)
('용산', '1호선', 37.52989, 126.964775)
('노량진', '1호선', 37.514072, 126.941671)
('영등포', '1호선', 37.515756, 126.907411)
('신도림', '1호선', 37.508983, 126.891513)
('개봉', '1호선', 37.494698, 126.858504)
('오류동', '1호선', 37.4944, 126.844551)
('구로', '1호선', 37.502211, 126.881818)
('가산디지털단지', '1호선', 37.481568, 126.882628)
('독산', '1호선', 37.465994, 126.889508)
('금천구청', '1호선', 37.45576, 126.894344)
('서울역', '1호선', 37.55315, 126.972533)
('시청', '1호선', 37.56359, 126.975407)
('종각', '1호선', 37.570203, 126.983116)
('종로3가', '1호선', 37.570429, 126.992095)
('종로5가', '1호선', 37.570971, 127.0019)
('동대문', '1호선', 37.565145, 127.00789)
('신설동', '1호선', 37.576117, 127.02471)
('제기동', '1호선', 37.578116, 127.034902)
('청량리(서울시립대입구)', '1호선', 37.580148, 127.045063)
('동묘앞', '1호선', 37.573265, 127.016459)
('시청', '2호선', 37.563534, 126.975271)
('을지로입구', '2호선', 37.565998, 126.982569)
('을지로3가', '2호선', 37.566292, 126.991773)
('을지로4가', '2호선', 37.566611, 126.998122)
('동대문역사문화공원(DDP)', '2호선', 37.565609, 127.009083)
('신당', '2호선', 37.565681, 127.019488)
('상왕십리', '2호선', 37.564504, 127.028872)
('왕십리(성동구청)', '2호선', 37.561159, 127.035505)
('한양대', '2호선', 37.55658, 127.043504)
('뚝섬', '2호선', 37.54718, 127.047413)
('성수', '2호선', 37.544628, 127.055983)
('건대입구', '2호선', 37.540408, 127.069231)
('구의(광진구청)', '2호선', 37.536857, 127.085024)
('강변(동서울터미널)', '2호선', 37.535161, 127.094684)
('잠실나루', '2호선', 37.520688, 127.103836)
('잠실(송파구청)', '2호선', 37.513305, 127.100129)
('잠실새내', '2호선', 37.520731, 127.103738)
('종합운동장', '2호선', 37.511008, 127.073641)
('삼성(무역센터)', '2호선', 37.508827, 127.063203)
('선릉', '2호선', 37.504257, 127.048174)
('역삼', '2호선', 37.500658, 127.03643)
('강남', '2호선', 37.497958, 127.027539)
('교대(법원, 검찰청)', '2호선', 37.493957, 127.014631)
('서초', '2호선', 37.49191, 127.007945)
('방배', '2호선', 37.481469, 126.997627)
('사당', '2호선', 37.476536, 126.981631)
('낙성대(강감찬)', '2호선', 37.47693, 126.963783)
('서울대입구(관악구청)', '2호선', 37.481233, 126.952745)
('봉천', '2호선', 37.482416, 126.941896)
('신림', '2호선', 37.484216, 126.929573)
('신대방', '2호선', 37.487534, 126.913279)
('구로디지털단지', '2호선', 37.485005, 126.902626)
('대림(구로구청)', '2호선', 37.492426, 126.895293)
('신도림', '2호선', 37.508815, 126.891222)
('문래', '2호선', 37.517993, 126.894766)
('영등포구청', '2호선', 37.525766, 126.896627)
('당산', '2호선', 37.533877, 126.902011)
('합정', '2호선', 37.550025, 126.914557)
('홍대입구', '2호선', 37.556748, 126.923643)
('신촌(지하)', '2호선', 37.555153, 126.93689)
('이대', '2호선', 37.556734, 126.945897)
('아현', '2호선', 37.557407, 126.956079)
('충정로(경기대입구)', '2호선', 37.559742, 126.964455)
('용답', '2호선', 37.566412, 126.977863)
('신답', '2호선', 37.56147, 127.056348)
('신설동', '2호선', 37.574653, 127.025158)
('도림천', '2호선', 37.514759, 126.882586)
('양천구청', '2호선', 37.512194, 126.865193)
('신정네거리', '2호선', 37.520218, 126.852849)
('용두(동대문구청)', '2호선', 37.574012, 127.03811)
('지축', '3호선', 37.648281, 126.912551)
('구파발', '3호선', 37.636612, 126.918827)
('연신내', '3호선', 37.618855, 126.920859)
('불광', '3호선', 37.610554, 126.929843)
('녹번', '3호선', 37.600882, 126.935758)
('홍제', '3호선', 37.588851, 126.944092)
('무악재', '3호선', 37.582658, 126.950131)
('독립문', '3호선', 37.574534, 126.957902)
('경복궁(정부서울청사)', '3호선', 37.575844, 126.973576)
('안국', '3호선', 37.576562, 126.98547)
('종로3가', '3호선', 37.571537, 126.991237)
('을지로3가', '3호선', 37.566299, 126.992616)
('충무로', '3호선', 37.561302, 126.995473)
('동대입구', '3호선', 37.55816, 127.005273)
('약수', '3호선', 37.554674, 127.010628)
('금호', '3호선', 37.548269, 127.015785)
('옥수', '3호선', 37.541653, 127.017303)
('압구정', '3호선', 37.526169, 127.028502)
('신사', '3호선', 37.516438, 127.020247)
('잠원', '3호선', 37.512989, 127.011613)
('고속터미널', '3호선', 37.504953, 127.004916)
('교대(법원·검찰청)', '3호선', 37.49306, 127.013796)
('남부터미널(예술의전당)', '3호선', 37.48494, 127.016289)
('양재(서초구청)', '3호선', 37.48466, 127.03513)
('매봉', '3호선', 37.487114, 127.046907)
('도곡', '3호선', 37.491129, 127.055694)
('대치', '3호선', 37.494601, 127.063449)
('학여울', '3호선', 37.496757, 127.070541)
('대청', '3호선', 37.493607, 127.079526)
('일원', '3호선', 37.48389, 127.08416)
('수서', '3호선', 37.487507, 127.101324)
('가락시장', '3호선', 37.492368, 127.118101)
('경찰병원', '3호선', 37.495754, 127.124198)
('오금', '3호선', 37.502288, 127.128344)
('남태령', '4호선', 37.464339, 126.989081)
('사당', '4호선', 37.476563, 126.981746)
('총신대입구(이수)', '4호선', 37.487521, 126.982309)
('동작(현충원)', '4호선', 37.503567, 126.980171)
('이촌(국립중앙박물관)', '4호선', 37.522525, 126.97335)
('신용산', '4호선', 37.52919, 126.96858)
('삼각지', '4호선', 37.535057, 126.973354)
('숙대입구(갈월)', '4호선', 37.545124, 126.971952)
('서울역', '4호선', 37.553172, 126.972836)
('회현(남대문시장)', '4호선', 37.559698, 126.979565)
('명동', '4호선', 37.561055, 126.988271)
('충무로', '4호선', 37.561302, 126.995473)
('동대문역사문화공원', '4호선', 37.565141, 127.008458)
('동대문', '4호선', 37.57099, 127.008835)
('혜화', '4호선', 37.582116, 127.001759)

('한성대입구(삼선교)', '4호선', 37.58838, 127.006751)
('성신여대입구(돈암)', '4호선', 37.592782, 127.017338)
('길음', '4호선', 37.604087, 127.025353)
('미아사거리', '4호선', 37.613276, 127.030083)
('미아', '4호선', 37.626435, 127.026151)
('수유(강북구청)', '4호선', 37.637127, 127.024731)
('쌍문', '4호선', 37.648274, 127.034381)
('창동', '4호선', 37.652993, 127.046746)
('노원', '4호선', 37.656274, 127.063183)
('상계', '4호선', 37.660576, 127.073199)
('당고개', '4호선', 37.66956, 127.078404)
('방화', '5호선', 37.577669, 126.812822)
('개화산', '5호선', 37.572458, 126.806838)
('김포공항', '5호선', 37.56217, 126.801273)
('송정', '5호선', 37.561411, 126.812052)
('마곡', '5호선', 37.562182, 126.82693)
('발산', '5호선', 37.562182, 126.82693)
('우장산', '5호선', 37.548864, 126.83633)
('화곡', '5호선', 37.541585, 126.840436)
('까치산', '5호선', 37.53181, 126.846706)
('신정(은행정)', '5호선', 37.525001, 126.856176)
('목동', '5호선', 37.526088, 126.864296)
('오목교(목동운동장앞)', '5호선', 37.524557, 126.875049)
('양평', '5호선', 37.525614, 126.886177)
('영등포구청', '5호선', 37.524209, 126.895022)
('영등포시장', '5호선', 37.52276, 126.905143)
('신길', '5호선', 37.51763, 126.914886)
('여의도', '5호선', 37.521578, 126.924318)
('여의나루', '5호선', 37.527145, 126.932807)
('마포', '5호선', 37.539718, 126.946043)
('공덕', '5호선', 37.544005, 126.951058)
('애오개', '5호선', 37.553592, 126.956733)
('충정로(경기대입구)', '5호선', 37.560061, 126.962783)
('서대문', '5호선', 37.565812, 126.966639)
('광화문(세종문화회관)', '5호선', 37.570545, 126.976568)
('종로3가(탑골공원)', '5호선', 37.572546, 126.990447)
('을지로4가', '5호선', 37.56658, 126.998127)
('동대문역사문화공원', '5호선', 37.564682, 127.00533)
('청구', '5호선', 37.560237, 127.01379)
('신금호', '5호선', 37.554504, 127.020403)
('행당', '5호선', 37.557297, 127.029482)
('왕십리', '5호선', 37.56197, 127.037264)
('마장', '5호선', 37.566066, 127.042921)
('답십리', '5호선', 37.566833, 127.05266)
('장한평', '5호선', 37.561438, 127.064601)
('군자(능동)', '5호선', 37.557102, 127.079559)
('아차산(어린이대공원후문)', '5호선', 37.552005, 127.089609)
('광나루(장신대)', '5호선', 37.545301, 127.103478)
('천호(풍납토성)', '5호선', 37.538566, 127.123539)
('강동', '5호선', 37.53581, 127.13249)
('길동', '5호선', 37.538022, 127.140085)
('굽은다리(강동구민회관앞)', '5호선', 37.545442, 127.142844)
('명일', '5호선', 37.551317, 127.144002)
('고덕', '5호선', 37.555002, 127.154214)
('상일동', '5호선', 37.556714, 127.166381)
('둔촌동', '5호선', 37.527787, 127.136219)
('올림픽공원(한국체대)', '5호선', 37.516217, 127.130957)
('방이', '5호선', 37.508752, 127.126054)
('오금', '5호선', 37.502228, 127.127701)
('개롱', '5호선', 37.498097, 127.134817)
('거여', '5호선', 37.493208, 127.143983)
('마천', '5호선', 37.494972, 127.152784)
('강일', '5호선', 37.557521, 127.176018)
('응암', '6호선', 37.59859, 126.915583)
('역촌', '6호선', 37.60605, 126.922764)
('불광', '6호선', 37.610919, 126.929504)
('독바위', '6호선', 37.618413, 126.933035)
('연신내', '6호선', 37.617293, 127.091375)
('구산', '6호선', 37.618596, 126.920519)
('새절(신사)', '6호선', 37.611223, 126.917246)
('증산(명지대앞)', '6호선', 37.591148, 126.913613)
('디지털미디어시티', '6호선', 37.583989, 126.909785)
('월드컵경기장(성산)', '6호선', 37.577005, 126.898643)
('마포구청', '6호선', 37.569439, 126.899077)
('망원', '6호선', 37.563535, 126.903326)
('합정', '6호선', 37.556031, 126.910129)
('상수', '6호선', 37.549033, 126.913546)
('광흥창(서강)', '6호선', 37.547704, 126.92292)
('대흥(서강대앞)', '6호선', 37.547464, 126.931971)
('공덕', '6호선', 37.547732, 126.942214)
('효창공원앞', '6호선', 37.543592, 126.951664)
('삼각지', '6호선', 37.539279, 126.961348)
('녹사평(용산구청)', '6호선', 37.535563, 126.973996)
('이태원', '6호선', 37.53469, 126.98665)
('한강진', '6호선', 37.534485, 126.994369)
('버티고개', '6호선', 37.53956, 127.001729)
('약수', '6호선', 37.547933, 127.006948)
('청구', '6호선', 37.554087, 127.010237)
('신당', '6호선', 37.560221, 127.013776)
('동묘앞', '6호선', 37.566174, 127.016158)
('창신', '6호선', 37.572275, 127.015666)
('보문', '6호선', 37.579772, 127.015246)
('안암(고대병원앞)', '6호선', 37.585293, 127.019377)
('고려대(종암)', '6호선', 37.586261, 127.02903)
('월곡(동덕여대)', '6호선', 37.59034, 127.03626)
('상월곡(한국과학기술연구원)', '6호선', 37.60192, 127.041492)
('돌곶이', '6호선', 37.606392, 127.048509)
('석계', '6호선', 37.610522, 127.056419)
('태릉입구', '6호선', 37.614937, 127.065922)
('화랑대(서울여대입구)', '6호선', 37.617319, 127.074741)
('봉화산(서울의료원)', '6호선', 37.619875, 127.084106)
('신내', '6호선', 37.612571, 127.104326)
('장암', '7호선', 37.70015, 127.053126)
('도봉산', '7호선', 37.689131, 127.046548)
('수락산', '7호선', 37.677804, 127.055314)
('마들', '7호선', 37.664985, 127.057701)
('노원', '7호선', 37.654478, 127.060555)
('중계', '7호선', 37.645052, 127.064084)
('하계', '7호선', 37.636363, 127.067999)
('공릉(서울과학기술대)', '7호선', 37.625642, 127.072969)
('태릉입구', '7호선', 37.617319, 127.074741)
('먹골', '7호선', 37.610638, 127.077719)
('중화', '7호선', 37.602604, 127.079254)
('상봉(시외버스터미널)', '7호선', 37.595673, 127.085708)
('면목', '7호선', 37.588671, 127.087503)
('사가정', '7호선', 37.580912, 127.088502)
('용마산', '7호선', 37.573752, 127.086802)
('중곡', '7호선', 37.565877, 127.084291)
('군자(능동)', '7호선', 37.557151, 127.079484)
('어린이대공원(세종대)', '7호선', 37.547962, 127.07465)
('건대입구', '7호선', 37.540882, 127.071103)
('뚝섬유원지', '7호선', 37.531558, 127.066714)
('청담', '7호선', 37.519097, 127.051851)
('강남구청', '7호선', 37.517185, 127.04122)
('학동', '7호선', 37.514262, 127.031738)
('논현', '7호선', 37.511108, 127.021385)
('반포', '7호선', 37.508171, 127.011717)
('고속터미널', '7호선', 37.503387, 127.005055)
('내방', '7호선', 37.48764, 126.993541)
('총신대입구(이수)', '7호선', 37.485258, 126.981766)
('남성', '7호선', 37.484688, 126.971108)
('숭실대입구(살피재)', '7호선', 37.496258, 126.953649)
('상도', '7호선', 37.50279, 126.947949)
('장승배기', '7호선', 37.504845, 126.939025)
('신대방삼거리', '7호선', 37.499717, 126.928218)
('보라매', '7호선', 37.499916, 126.920112)
('신풍', '7호선', 37.500107, 126.909806)
('대림(구로구청)', '7호선', 37.492984, 126.896997)
('남구로', '7호선', 37.486181, 126.887372)
('가산디지털단지', '7호선', 37.480376, 126.882704)
('철산', '7호선', 37.47616, 126.868217)
('광명사거리', '7호선', 37.47927, 126.854854)
('천왕', '7호선', 37.486699, 126.838684)
('온수(성공회대입구)', '7호선', 37.492059, 126.823294)
('암사', '8호선', 37.550127, 127.127521)
('천호(풍납토성)', '8호선', 37.53792, 127.123179)
('강동구청', '8호선', 37.530348, 127.120461)
('몽촌토성(평화의문)', '8호선', 37.517692, 127.11274)
('잠실(송파구청)', '8호선', 37.514649, 127.104267)
('석촌', '8호선', 37.505396, 127.106995)
('송파', '8호선', 37.49978, 127.11212)
('가락시장', '8호선', 37.493004, 127.118279)
('문정', '8호선', 37.485931, 127.122473)
('장지', '8호선', 37.478609, 127.126229)
('복정', '8호선', 37.471016, 127.126746)
('산성', '8호선', 37.456886, 127.149927)
('남한산성입구(성남법원·검찰청)', '8호선', 37.451568, 127.159845)
('단대오거리', '8호선', 37.445057, 127.156735)
('신흥', '8호선', 37.440952, 127.14759)
('수진', '8호선', 37.437575, 127.140936)
('모란', '8호선', 37.433888, 127.129921)
('남위례', '8호선', 37.462839, 127.139047)
('중앙보훈병원', '9호선', 37.529191, 127.148739)
('둔촌오륜', '9호선', 37.519683, 127.137989)
('올림픽공원', '9호선', 37.516269, 127.130288)
('한성백제', '9호선', 37.516404, 127.116503)
('송파나루', '9호선', 37.510372, 127.112216)
('석촌', '9호선', 37.505208, 127.10704)
('석촌고분', '9호선', 37.502558, 127.097033)
('삼전', '9호선', 37.504738, 127.088025)
('종합운동장', '9호선', 37.511426, 127.076275)
('봉은사', '9호선', 37.514219, 127.060245)
('삼성중앙', '9호선', 37.513011, 127.053282)
('선정릉', '9호선', 37.510297, 127.043999)
('언주', '9호선', 37.507287, 127.033868)
('신논현', '9호선', 37.504598, 127.02506)
('사평', '9호선', 37.504206, 127.015259)
('고속터미널', '9호선', 37.50598, 127.004403)
('신반포', '9호선', 37.503415, 126.995925)
('구반포', '9호선', 37.501364, 126.987332)
('동작', '9호선', 37.502878, 126.978153)
('흑석', '9호선', 37.50877, 126.963708)
('노들', '9호선', 37.512887, 126.953222)
('노량진', '9호선', 37.513534, 126.941005)
('샛강', '9호선', 37.517274, 126.928422)
('여의도', '9호선', 37.52176, 126.92403)
('국회의사당', '9호선', 37.528105, 126.917874)
('당산', '9호선', 37.533406, 126.902809)
('선유도', '9호선', 37.53802, 126.893525)
('신목동', '9호선', 37.544277, 126.88308)
('염창', '9호선', 37.546936, 126.874916)
('등촌', '9호선', 37.550632, 126.865689)
('증미', '9호선', 37.557402, 126.861939)
('가양', '9호선', 37.561391, 126.854456)
('양천향교', '9호선', 37.568381, 126.841333)
('마곡나루', '9호선', 37.566778, 126.82731)
('신방화', '9호선', 37.567532, 126.816601)
('공항시장', '9호선', 37.563726, 126.810678)
('김포공항', '9호선', 37.561916, 126.802152)
('개화', '9호선', 37.578608, 126.798153)
('북한산우이(도선사입구)', '우이신설선', 37.66284, 127.01272)
('솔밭공원', '우이신설선', 37.65607, 127.01326)
('4.19민주묘지(덕성여대)', '우이신설선', 37.64954, 127.01371)
('가오리', '우이신설선', 37.64162, 127.01681)
('화계', '우이신설선', 37.63428, 127.0175)
('삼양', '우이신설선', 37.62706, 127.01817)
('삼양사거리', '우이신설선', 37.62144, 127.02049)
('솔샘', '우이신설선', 37.62037, 127.01357)
('북한산보국문(서경대)', '우이신설선', 37.61233, 127.00816)
('정릉(국민대입구)', '우이신설선', 37.60278, 127.01345)
('성신여대입구', '우이신설선', 37.59287, 127.01656)
('보문', '우이신설선', 37.58551, 127.01939)
('신설동', '우이신설선', 37.57579, 127.02361)
('양원(서울시북부병원)', '경의중앙', 37.6066, 127.108)
('상봉', '경의중앙', 37.595254, 127.085853)
('중랑', '경의중앙', 37.594948, 127.076152)
('회기', '경의중앙', 37.589802, 127.057936)
('청량리', '경의중앙', 37.580543, 127.046516)
('왕십리', '경의중앙', 37.561128, 127.035505)
('응봉', '경의중앙', 37.550433, 127.034824)
('한남', '경의중앙', 37.529361, 127.008984)
('망우', '경의중앙', 37.0, 127.0)
('서빙고', '경의중앙', 37.51961, 126.988358)
('이촌', '경의중앙', 37.522476, 126.973816)
('서울역', '경의중앙', 37.556964, 126.971276)
('효창공원앞', '경의중앙', 37.539289, 126.961339)
('공덕', '경의중앙', 37.542611, 126.952134)
('신촌', '경의중앙', 37.559768, 126.942308)
('서강대', '경의중앙', 37.552132, 126.935389)
('홍대입구', '경의중앙', 37.55808, 126.925533)
('가좌', '경의중앙', 37.568611, 126.914841)
('수색', '경의중앙', 37.580855, 126.895681)
('디지털미디어시티', '경의중앙', 37.577475, 126.900453)
('옥수', '경의중앙', 37.540446, 127.018672)
('용산', '경의중앙', 37.529849, 126.964561)
('샛강', '신림', 37.51715099617103, 126.92949511440423)
('대방(성애병원)', '신림', 37.51302197258486, 126.92554017518772)
('서울지방병무청', '신림', 37.506028336724505, 126.92267441513674)
('보라매', '신림', 37.49986380893415, 126.92019280587613)
('보라매공원', '신림', 37.49521329003488, 126.91825273797332)
('보라매병원(전문건설회관)', '신림', 37.49280216609114, 126.92359268240538)
('당곡', '신림', 37.49017371989295, 126.9275529771196)
('신림', '신림', 37.48491306754554, 126.92959326054164)
('서원', '신림', 37.47821158950264, 126.93308169642698)
('서울대벤처타운', '신림', 37.47194107329665, 126.9339916655252)
('관악산(서울대)', '신림', 37.468991450151215, 126.94511767812192)
('서울역', '공항철도', 37.5490645, 126.9704658)
('공덕', '공항철도', 37.5427105, 126.9516296)
('홍대입구', '공항철도', 37.5578854, 126.9265227)
('디지털미디어시티', '공항철도', 37.5783645, 126.8972464)
('마곡나루', '공항철도', 37.5653322, 126.827608)
('김포공항', '공항철도', 37.5667733, 126.8025118)
('청량리', '경춘', 37.580113, 127.045043)
('회기', '경춘', 37.589774, 127.057989)
('중랑', '경춘', 37.594944, 127.076152)
('신내', '경춘', 37.612855, 127.103277)
('망우', '경춘선', 37.59955, 127.091909)
('상봉', '경춘선', 37.596678, 127.08504)
('광운대', '경춘선', 37.623632, 127.061835)
('청량리', '수인분당', 37.580113, 127.045043)
('압구정로데오', '수인분당', 37.527385, 127.040555)
('선정릉(한국과학창의재단)', '수인분당', 37.510275, 127.043817)
('선릉', '수인분당', 37.504479, 127.048941)
('복정(동서울대학)', '수인분당', 37.469753, 127.126627)
('왕십리', '수인분당', 37.561128, 127.035505)
('서울숲', '수인분당', 37.543647, 127.044686)
('강남구청', '수인분당', 37.517172, 127.041275)
('한티', '수인분당', 37.496208, 127.052883)
('도곡', '수인분당', 37.490914, 127.055393)
('대모산입구', '수인분당', 37.491422, 127.07274)
('수서', '수인분당', 37.487472, 127.101422)
('구룡', '수인분당', 37.486839, 127.058856)